@import "styles/utils";

$configs: (
  chart-one: (
    svgSize: 166px,
    percentage: 25,
    strokeWidth: 16px,
    backgroundColor: rgba(190, 201, 212, 0),
    foregroundColor: rgba(119, 165, 255, 1),
    labelColor: #c6e8d7,
    labelFontSize: 44px,
    duration: 3s,
    animationDelay: 1s,
  ),
);

.chart-one {
  &.animate {
    background: url(../../../asset/images/bg-circle.png) no-repeat center 50%;
    background-size: 159px;
    margin: auto;
    position: relative;
    .number {
      font-size: 20px;
      line-height: 26px;
      text-align: right;
      color: rgba(44, 50, 56, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      span {
        font-weight: bold;
        font-size: 38px;
        line-height: 44px;
        text-align: right;
        letter-spacing: -0.2px;
        color: $color-gray-900;
        margin-right: 4px;
      }
    }
  }
  figcaption {
    display: none;
  }
}

.legend-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  > span {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-gray-500;
    margin-right: 35px;
    &:first-child {
      .bu {
        background: $color-contents-normal-f;
      }
    }
    &:last-child {
      margin-right: 0;
      .bu {
        background: $color-contents-normal-d;
      }
    }
    .bu {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin-right: 4px;
    }
    .number {
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: $color-gray-800;
      margin-left: 18px;
    }
  }
}

.btn.gray.outline {
  border: 1px solid $color-gray-300 !important;
}

.daily-check-inspection {
  right: 10px;
  top: 54px;
}

.btn-inspection-start {
  background: $color-gray-white;
  border: 1px solid $color-gray-300;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 8px 14px;
}
