@import "styles/utils";

/* modal */
.dimed-modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  &.modal-top-max {
    top: 0;
  }

  &:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #000000;
    opacity: 0.5;
    z-index: -1;
  }
}
