@import "styles/utils";

.search-panel-typeA {
  position: relative;
  border-bottom: 1px solid $color-gray-300;
  min-height: 56px;
  padding: 14px 0 14px 20px;
  &.none-bord {
    border: none;
  }
  .search-panel-overflow {
    overflow-x: auto;
  }
  .search-icon {
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    position: absolute;
    background: $color-gray-white;
    padding: 7.5px;
    border: 1px solid $color-gray-300;
    border-radius: 2px;
    display: flex;
    z-index: 1;
  }
}
