@import "styles/utils";

.calendar_tb {
  padding: 20px 0;
  table {
    width: 100%;
    td {
      text-align: center;
      margin: 6px 0;
      font-size: 16px;
      position: relative;
      line-height: 32px;
      height: 44px;
      .today {
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 16px;
        background-color: $color-gray-700;
        color: $color-gray-white;
        display: inline-block;
      }
      .prev_day {
        color: $color-gray-300;
      }
      .select_day {
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 16px;
        background-color: $color-primary-500;
        color: $color-gray-white;
        display: inline-block;
        &.from {
          opacity: 0.5;
        }
      }
      &.term {
        background: url(../../../asset/images/bg-full.png) repeat-x center;
        background-size: 100% 32px;
      }
      &.term-start {
        background: url(../../../asset/images/bg-start.png) repeat-x right
          center;
        background-size: 100% 32px;
      }
      &.term-end {
        background: url(../../../asset/images/bg-end.png) repeat-x left center;
        background-size: 100% 32px;
      }
    }
  }
}
