@import "styles/utils";

.work-order-manage-diagnosis {
  .pictures-header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
    .title {
      color: $color-gray-900;
      font-size: 15px;
      line-height: 21px;
      letter-spacing: 0.05px;
      font-weight: 700;
    }
  }
  .pictures-wrapper {
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: -10px;
    .picture-template {
      margin-right: 12px;
      padding-top: 10px;
    }
    .todo-pictures {
      display: flex;
      align-items: center;
      overflow-x: auto;
      padding-top: 10px;
      li {
        margin-right: 12px;
      }
    }
  }
  .tabs-in-tab {
    position: sticky;
    top: 0px;
    padding: 0 16px;
    background: $color-gray-50;
    border-top: 1px solid $color-gray-200;
    z-index: 10;
    ul {
      display: flex;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        padding: 7px 0 5px;
        opacity: 0.4;
        border-bottom: 2px solid transparent;
        span {
          color: $color-gray-900;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.05px;
          font-weight: 700;
        }
        .check-icon {
          margin-left: 3.5px;
        }
        &.active {
          opacity: 1;
          border-bottom: 2px solid $color-primary-500;
        }
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
  .tab-in-tab-panel {
    padding: 20px;
    .tab-in-tab-title {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .title {
        color: $color-gray-900;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 0.05px;
        font-weight: 700;
      }
      .sub-title {
        color: $color-gray-500;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 0.05px;
        font-weight: 400;
        margin-left: 10px;
      }
    }
    .tab-in-tab-items {
      margin-top: 10px;
      animation: fade-in 300ms ease-in-out;
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      li:not(:last-child) {
        margin-bottom: 8px;
      }
      .flex-end {
        display: flex;
        justify-content: flex-end;

        .undefined-btn {
          flex: 0;
          padding: 8px 34px;
          border-radius: 3px;
          border: 1px solid $color-gray-300;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.15px;
          font-weight: 500;
          color: $color-gray-800;
        }
      }
    }
  }
  .work-order-bm-sp-select-modal {
    .sp-select-wrapper {
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22),
        0px -7px 10px rgba(0, 0, 0, 0.12);
      border-radius: 8px 8px 0px 0px;
      width: 100%;
      background: $color-gray-white;
      padding: 28px 20px 48px;
      animation: aniUpDownMount 0.2s ease-in-out forwards;
      .sp-select-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        .header-text {
          font-size: 16px;
          font-weight: 700;
          line-height: 23px;
          color: $color-gray-900;
        }
      }
      .sp-select-items {
        .sp-select-item {
          padding: 12px 0;
          &:not(:last-child) {
            border-bottom: 1px solid $color-gray-100;
          }
          .sp-select-item-content {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.05px;
            color: $color-gray-900;
          }
        }
      }
    }
  }
}
