@import "styles/utils";

.search-result-card-typeA {
  .item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .value1 {
      letter-spacing: 0.05px;
      color: $color-gray-900;
      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
      word-break: break-all;
    }
    .value2 {
      letter-spacing: 0.05px;
      color: $color-gray-500;
      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
    }
    .value3 {
      letter-spacing: 0.05px;
      color: $color-gray-500;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
      word-break: break-all;
    }
    .value4 {
      letter-spacing: 0.15px;
      color: $color-primary-500;
      font-size: 12px;
      line-height: 18px;
      font-weight: normal;
    }
  }
  .item-row + .item-row {
    margin-top: 5px;
  }
}
