@import "styles/utils";

.work-order-bm-issue-card {
  padding: 16px 14px;
  box-shadow: 0px 0px 1px rgba(33, 40, 55, 0.11),
    1px 1px 6px rgba(33, 40, 55, 0.16);
  border-radius: 4px;
  background: $color-gray-white;
  .row {
    display: flex;
    align-items: center;
    &.spb {
      justify-content: space-between;
    }
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
  .col {
    display: flex;
    align-items: center;

    &.max-width {
      width: 100%;
    }
    &.spb {
      justify-content: space-between;
    }
  }
  .location {
    display: flex;
    align-items: center;
    .location-icon {
      svg,
      path {
        fill: $color-primary-500;
      }
    }
    .location-text {
      margin-left: 2px;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1px;
      color: $color-primary-500;
    }
  }
  .label {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: $color-gray-800;
    margin-right: 20px;
  }
  .rounded-text {
    border: 1px solid $color-gray-300;
    border-radius: 14px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: $color-gray-700;
    margin-left: 6px;
  }
  .circle-text {
    padding: 4px 6px 4px 10px;
    border-radius: 30px;
    background: $color-gray-100;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: $color-gray-700;
    .point {
      font-weight: 500;
    }
  }
  .desc {
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-gray-600;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sub-label {
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-gray-500;
    margin-right: 10px;

    &.max-width {
      width: 100%;
      margin-right: 0;
    }
  }
  .primary-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-primary-500;
  }
  .divider {
    width: 1px;
    height: 12px;
    background: $color-gray-300;
    margin: 0 10px;
  }
  .number-input {
    padding: 6px;
    width: 55px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.4px;
    border: 1px solid $color-gray-300;
    border-radius: 4px;
    &:focus {
      padding: 5px;
      border: 2px solid $color-secondary-500;
    }
    &.disabled {
      background: $color-gray-50;
      &:focus {
        padding: 6px;
        border: 1px solid $color-gray-300;
      }
    }
  }
  .no-text {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: $color-gray-600;
  }
  .no-id {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-gray-900;
    margin-left: 6px;
  }
}
