@import "styles/utils";

.stock-taking-detail-card-panel {
  position: relative;
  background: $color-gray-white;
  padding: 14px;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.1);
  border-radius: 4px;
  .ab-location {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    align-items: center;
    .location-icon {
      svg,
      path {
        fill: $color-primary-500;
      }
    }
    .location-text {
      margin-left: 2px;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1px;
      color: $color-primary-500;
    }
  }
  .row {
    display: flex;
    align-items: center;
    .col {
      &.flex-start {
        align-self: flex-start;
      }
      .detail-img-box {
        border-radius: 4px;
        width: 46px;
        height: 46px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px -2px 15px rgba(68, 82, 118, 0.12);
        margin-right: 14px;

        .detail-img {
          width: 100%;
          height: 100%;
        }
      }
      .detail-title {
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;
        color: $color-gray-900;
      }
      .detail-desc {
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: $color-gray-600;
      }
      .label {
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        color: $color-gray-600;
        white-space: nowrap;
      }
      .value {
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.05px;
        color: $color-gray-500;
        &.primary {
          color: $color-primary-500;
        }
      }
      .number-input {
        padding: 6px;
        width: 80px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 1.4px;
        border: 1px solid $color-gray-300;
        border-radius: 4px;
        &:focus {
          padding: 5px;
          border: 2px solid $color-secondary-500;
        }
        &.disabled {
          background: $color-gray-50;
          &:focus {
            padding: 6px;
            border: 1px solid $color-gray-300;
          }
        }
      }
      .arrow-icon {
        margin-left: 8px;
        transform: rotate(-90deg);
        svg,
        path {
          color: $color-gray-600;
        }
        &.disabled {
          display: none;
        }
      }
      .comment-ta {
        border-radius: 3px;
        padding: 6px 12px;
        width: 100%;
        min-height: 54px;
        outline: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05px;
        border: 1px solid $color-gray-300;
        resize: none;
        &::placeholder {
          color: $color-gray-400;
        }
        &:focus {
          padding: 5px 0;
          padding-left: 11px;
          border: 2px solid $color-gray-800;
        }
        &.disabled {
          background: $color-gray-50;
          &:focus {
            padding: 6px 12px;
            border: 1px solid $color-gray-300;
          }
        }
      }
    }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .flex-row {
    display: flex;
    align-items: center;
  }
  .spb {
    justify-content: space-between;
  }
  .flex-fill {
    flex: 1;
  }
}
