@import "styles/utils";

.daily-list {
  padding: 8px 20px;
  .daily-list-item {
    background: $color-gray-white;
    border: 1px solid $color-gray-300;
    box-sizing: border-box;
    box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
    border-radius: 4px;
    margin-top: 8px;
    padding-bottom: 12px;
    &:first-child {
      margin-top: 0;
    }
    &.disabled {
      position: relative;
      &:after {
        content: "";
        background: rgba(0, 0, 0, 0.05);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      .border1 {
        margin: 0 0 6px;
      }
      .dl-footer-btn {
        .gray {
          background: #8996a3;
        }
        .primary {
          opacity: 0.5;
        }
      }
    }

    .dl-header {
      padding: 14px 17px 7px;
      //border-bottom:1px solid $color-gray-200;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: $color-gray-800;
        span {
          margin-right: 10px;
          color: $color-gray-600;
        }
      }
      .tag-round {
        background: $color-gray-white;
        border: 1px solid $color-gray-300;
        border-radius: 14px;
        padding: 3px 8px;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: $color-gray-700;
        span {
          font-weight: bold;
        }
      }
      .btn-NFC-tag {
        margin-right: 6px;
        background: #ffffff;
        box-sizing: border-box;
        border-radius: 53px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.15px;
        padding: 4px 8px;
        border: 1px solid $color-gray-300;
        display: flex;
        justify-content: center;
        align-items: center;
        &[disabled] {
          background: #56606b;
          border-radius: 14px;
        }
      }
    }
    .btn-more {
      width: 28px;
      height: 28px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.dl-gray-round-wrap {
  margin: 8px 6px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  dl {
    background: $color-gray-100;
    border-radius: 4px;
    padding: 6px 0;
    flex: 1 0 auto;
    margin-right: 4px;
    display: block;
    &:last-child {
      margin-right: 0;
    }
    > * {
      text-align: center;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      color: $color-gray-700;
    }
    dt {
      font-weight: 400;
      line-height: 15px;
    }
    dd {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.tb-type-white {
  padding: 0 20px;
  &.padd {
    padding: 7px 20px 14px;
  }
  table {
    width: 100%;
    table-layout: fixed;
    th,
    td {
      padding: 4px 0;
    }
    th {
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      color: $color-gray-500;
      &:nth-of-type(2) {
        padding-left: 16px;
      }
    }
    td {
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: $color-gray-900;
      padding-left: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      .tip {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: $color-gray-600;
        em {
          font-weight: 500;
          margin-left: 4px;
        }
      }
      .comment-textarea {
        textarea {
          width: 100%;
          height: 54px;
          border: 1px solid #bec9d4;
          box-sizing: border-box;
          border-radius: 3px;
          padding: 6px 12px;
          resize: none;
          &:disabled {
            background: #f5f8fa;
            border: 1px solid #bec9d4;
          }
        }
      }
    }
  }
  .counter-wrap.typeWide {
    padding: 5px 12px;
  }
}

.text-over {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: auto;
  overflow: hidden;
  display: block;
}

.number-btn-wrap {
  margin: 2px 0;
  display: flex;
  padding: 5px 12px;
  justify-content: space-between;
  align-items: center;
  background: $color-gray-white;
  border: 1px solid $color-gray-300;
  box-sizing: border-box;
  border-radius: 3px;
  button {
    width: 24px;
    height: 24px;
    background: $color-gray-100;
    border-radius: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
.comment-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new-notice {
    &:before {
      right: 0 !important;
      top: 0 !important;
    }
  }
  .i-dotted {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: $color-gray-300;
    display: block;
    margin: 0 8px;
  }
}

.dl-btn-wraps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;

  button {
    width: 100%;
    height: 40px;
    padding: 8px 0;
    color: $color-gray-800;
    font-weight: 500;
    &:nth-child(2) {
      width: calc(90% - 16px);
      margin: 0 8px;
    }
    &:nth-child(3) {
      width: calc(110%);
    }
  }
  .btn-add {
    background: $color-gray-50;
    border: 1px solid $color-gray-300;
    box-sizing: border-box;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
.dl-footer-btn {
  padding: 6px 14px 0;
  button {
    padding: 10px 0 !important;
    height: 40px !important;
    font-size: 14px !important;
  }
}

.filter-round {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
  &.div3 {
    span {
      width: calc(33.3% - 7px);
    }
  }
  &.div2 {
    span {
      width: calc(50% - 7px);
    }
  }
  span {
    display: block;
    margin-right: 7px;
    margin-bottom: 7px;
  }
}

.btn-r-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-comments {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  .new-notice {
    height: 24px;
    &:before {
      right: 0;
      top: 0;
    }
  }
}

.label-input-typeB .input-box.active {
  .input-box-row {
    padding-left: 11px;
    input {
      padding: 10px 0;
    }
  }
}

.dl-unit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  span {
    font-size: 12px;
    line-height: 19px;
    &:first-child {
      color: #8996a3;
    }
    &:last-child {
      font-weight: 500;
      color: #56606b;
      margin-left: 5px;
    }
  }
}

[class^="icon-notice-"] {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.icon-notice- {
  &success {
    background: $color-status-confirmed;
  }
  &fail {
    background: $color-status-alert;
  }
}

.check-detail-search-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-right: 12px;
  box-sizing: border-box;
  .check-detail-search-item {
    position: relative;
    padding: 4px 8px;
    background: #e9eff5;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 6px;
    border: 2px solid transparent;
    min-width: 100px;
    width: 100%;
    transition: all 200ms;
    input[type="text"] {
      border: 0;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      color: #2c3238;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      margin: 0 8px;
      text-align: center;
      transition: 500ms all;
      width: calc(100% - 16px);
    }
    .search-icon {
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      svg {
        display: none;
      }
    }
    &.on {
      justify-content: flex-start;
      border: 2px solid #424952;
      background: #ffffff;
      input[type="text"] {
        max-width: inherit;
        text-align: left;
      }
      button {
        display: flex;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background: #e9eff5;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        flex: 0 0 18px;
        justify-self: flex-end;
        min-width:18px;
        svg {
          display: block;
        }
      }
    }
  }
  .select-checkDetail-type {
    background: #ffffff;
    border: 1px solid #bec9d4;
    box-sizing: border-box;
    border-radius: 3px;
    width: auto;
    flex: 1 0 auto;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: 8px;
      top: 8px;
      width: 16px;
      height: 16px;
      background: url(../../../asset/images/ic-select-down.svg) no-repeat 0 0;
    }
    div {
      display: block;
      padding: 8px 40px 7px 8px;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #2c3238;
      background: transparent;
      width: auto;
      white-space: nowrap;
    }
  }
}

::-webkit-input-placeholder {
  /* Edge */
  color: #a5b3c2;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a5b3c2;
}
::placeholder {
  color: #a5b3c2;
}

.search-fix-notice {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 4;
  background: #e9eff5;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
  padding: 4px 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #6b7682;
  border-bottom: 1px solid #bec9d4;
  span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #e0205c;
    display: inline-block;
    padding: 0 2px;
  }
}

.daily-check-detail-NFC {
  right: 103px;
  z-index: 99 !important;
}
