.pull-to-refresh {
  position: relative;
  .pull-to-refresh-hidden {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .pull-to-refresh-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    &.smooth {
      transition: top 0.1s ease;
    }
  }
}
