@import "styles/utils";

.tag-round{
  border: 1px solid $color-gray-200;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -1px;
  color: $color-gray-800;
  padding:10px 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  &.active{
    border: 1px solid $color-primary-300;
    color: $color-primary-500;
  }
}
