@import "styles/utils";

.counter-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-gray-white;
  border: 1px solid $color-gray-300;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 12px;
  &.disabled {
    background: #f5f8fa;
    border: 1px solid #bec9d4;
  }
  button {
    width: 24px;
    height: 24px;
    background: $color-gray-100;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .count-number {
    border: none;
    width: 100px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05px;
    color: #2c3238;
  }
}
