@import "styles/utils";

.search-sp-inventory-detail-item-card {
  background: $color-gray-white;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
  border-radius: 4px;
  padding: 12px;
  .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .col {
      display: flex;
      align-items: center;
      .label {
        color: $color-gray-600;
        font-size: 12px;
        line-height: 19px;
        font-weight: 500;
        min-width: 100px;
      }
      .value {
        color: $color-gray-900;
        font-size: 12px;
        line-height: 19px;
        font-weight: 400;
      }
    }
  }
  .row-flex {
    display: flex;
    align-items: center;
    .splitter {
      height: 12px;
      width: 1px;
      background: $color-gray-300;
      margin-left: 10px;
      margin-right: 10px;
    }
    .col-sb {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .label {
        color: $color-gray-600;
        font-size: 12px;
        font-weight: 500;
        line-height: 19px;
      }
      .value {
        color: $color-primary-500;
        font-size: 13px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.05px;
      }
    }
  }
}
