@import "styles/utils";

.search-keywords-result-item {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  .item-id {
    color: $color-gray-900;
    font-size: 15px;
    line-height: 27px;
    font-weight: 500;
    letter-spacing: -0.05px;
  }
  .item-text {
    color: $color-gray-700;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
    letter-spacing: -0.05px;
  }
  span + span {
    margin-left: 6px;
  }
  &:active {
    background: $color-secondary-50;
  }
}
.search-keywords-result-item-expand-mode {
  padding: 8px 20px;
  border-bottom: 1px solid $color-gray-100;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
  .item-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.05px;
    color: $color-gray-900;
  }
  .box-text {
    padding: 1px 8px;
    border-radius: 3px;
    background-color: $color-gray-100;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $color-gray-700;
  }
  .sub-text {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.05px;
    color: $color-gray-700;
  }
}
