@import "styles/utils";

.single-select-wrapper {
  background: $color-gray-white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22), 0px -7px 10px rgba(0, 0, 0, 0.12);
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  padding: 28px 20px 48px;
  animation: aniUpDownMount 0.2s ease-in-out forwards;
  .select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .header-text {
      font-size: 16px;
      font-weight: 700;
      line-height: 23px;
      color: $color-gray-900;
    }
  }
  .select-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-100;
    }
    .select-item-content {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: $color-gray-900;
      &.active {
        color: $color-primary-500;
      }
    }
  }
}
