@import "styles/utils";

.work-order-detail-main {
  padding-bottom: 150px;
  overflow-y: auto;
  background-color: $color-gray-50;

  .wod-step-tab {
    margin: 0 28px;
    margin-top: -52px;
    position: relative;
    z-index: 10;
  }
}

.work-order-detail-clear-modal {
  .modal-content {
    font-size: 13px;
    font-weight: 400;
    color: $color-gray-600;
    line-height: 20px;
    .timer-time {
      font-size: 13px;
      font-weight: 500;
      color: $color-secondary-500;
    }
  }
}

.wod-content {
  margin-top: 16px;
  .wod-content-items {
    //filter: drop-shadow(1px 1px 6px rgba(33, 40, 55, 0.12));
    box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
    background: #ffffff;
    border-radius: 4px;
    padding: 24px 35px 20px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &.one-item {
      padding: 14px;
      margin-left: 20px;
      margin-right: 20px;
      dl {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    .ab-center {
      position: absolute;
      right: 17.5px;
      top: 50%;
      transform: translateY(-50%);
    }
    dl {
      padding-bottom: 12px;
      margin-bottom: 20px;
      border-bottom: 1px solid #dae3ed;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      dt {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #8996a3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .date {
          font-size: 12px;
          line-height: 15px;
          color: $color-gray-400;
          margin-left: 12px;
          font-weight: lighter;
        }
        .icon-labeled {
          display: flex;
          align-items: center;
          > span {
            margin-left: 4px;
          }
        }
      }
      dd {
        margin-top: 8px;
        display: flex;
        align-items: center;
        > span {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #2c3238;

          &.line-ellipse {
            display: -webkit-box;
            -webkit-line-clamp: 4; /* 라인수 */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
          }
        }
        .flex-row {
          display: flex;
          align-items: center;
        }
        .flex-col {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          & > :not(:last-child) {
            margin-bottom: 8px;
          }
        }
        .time {
          color: $color-gray-500;
          margin-left: 6px;
        }
        .date,
        .time {
          white-space: nowrap;
        }
        .dash-type {
          margin: 0 14px;
          height: 1px;
          width: 8px;
          background: $color-gray-800;
        }
        .plus-number-text {
          font-family: "SpoqaHanSans";
          background: $color-gray-100;
          color: $color-gray-600;
          padding-right: 6px;
          padding-left: 6px;
          border-radius: 50%;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.05px;
          font-weight: 400;
          margin-left: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: stretch;
        }
        .wod-item-employees {
          width: 100%;
          .wod-item-employee {
            color: $color-gray-900;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
          .newline {
            display: block;
            //margin-right: auto;
          }
        }
      }
    }
    .time-badge {
      position: absolute;
      right: 20px;
      top: 20px;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      text-align: right;
      color: $color-contents-normal-b;
      background: rgba(178, 128, 255, 0.1);
      border: 1px solid $color-contents-normal-b;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 1px 4px;
    }
    .time-history {
      position: absolute;
      right: 14px;
      top: 14px;
      background: #ffffff;
      border: 1px solid #68d6e8;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 9px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &.active {
        background: #26b9d1;
      }
    }
  }
}
.bg-gray-50 {
  background: $color-gray-50;
}

.btn-round-wrapper {
  background: transparent;
  padding: 0 12px 30px;

  .btn-ncf-tag {
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    // backdrop-filter: blur(6px);
    border-radius: 8px;
    width: 100%;
    padding: 14px 20px;
    .row {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
      span {
        color: $color-gray-white;
        font-size: 14px;
        line-height: 20.72px;
        letter-spacing: 1px;
        font-weight: 500;
      }
      .rectangle {
        margin-left: 10px;
        width: 30px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        padding: 4px;
      }
      .clear-button {
        background: $color-primary-500;
        opacity: 0.4;
        padding: 2px 6px;
        color: $color-gray-white;
        font-size: 13px;
        font-weight: 500;
        border-radius: 3px;
        margin-right: 8px;
        &.active {
          opacity: 1;
        }
      }
      .ellapsed-time {
        font-family: "SpoqaHanSans";
        font-size: 26px;
        line-height: 26px;
        font-weight: 300;

        &--hour,
        &--min,
        &--sec,
        &--splitter {
          font-family: "SpoqaHanSans";
          font-size: 26px;
          line-height: 26px;
          font-weight: 300;
        }
        &--splitter {
          margin: 0 5px;
        }
      }
    }
    .absolute-right {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);

      &.circle {
        width: 54px;
        height: 54px;
        border: 1px solid $color-gray-white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          transform: translateX(10%);
        }

        .actual-rectangle {
          width: 27px;
          height: 27px;
          background: $color-primary-400;
          box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
          border-radius: 2px;
        }
      }
    }
  }
}
