@import "styles/utils";

.work-order-pm {
  .work-order-tabs {
    padding: 5px 20px;
    .inner {
      display: flex;
      align-items: center;
      position: relative;

      .tab {
        width: 100%;
      }
      .tab-panel {
        &.visible {
          display: block;
        }
        &.hidden {
          display: none;
        }
      }
      z-index: 1;
      .animation-bg {
        //filter: drop-shadow(1px 1px 12px rgba(159, 52, 91, 0.2));
        box-shadow: 1px 1px 12px rgba(159, 52, 91, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: calc(100% / 2);
        background: $color-primary-400;
        z-index: -1;
        border-radius: 8px;
        transition: transform 0.1s ease-in-out;
        &.safetyplan {
          transform: translateX(0%);
        }
        &.op {
          transform: translateX(100%);
        }
      }
    }
  }
}
