@import "styles/utils";

.label-div-typeB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .info-label {
    color: $color-gray-500;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  .info-gray-box {
    background: $color-gray-100;
    padding: 4px 8px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: $color-gray-700;
      font-size: 13px;
      line-height: 20px;
      font-weight: 500;
    }
  }
}
