@import "styles/utils";

.work-order-todo-item-typeB {
  background: $color-gray-50;
  padding: 0 14px;
  border-radius: 4px;

  .todo-item-typeB-header {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:first-child) {
        margin-left: 7px;
      }
      .item-index {
        margin-right: 5px;
        color: $color-gray-600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05px;
        font-weight: 700;
      }
      .item-name {
        color: $color-gray-900;
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
        &.line-ellipse {
          display: -webkit-box;
          -webkit-line-clamp: 2; /* 라인수 */
          -webkit-box-orient: vertical;
          max-height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
        }
      }
      .expand-text {
        white-space: nowrap;
        color: $color-gray-400;
        margin-right: 4px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.15px;
        font-weight: 500;
      }
      .selected-text {
        white-space: nowrap;
        color: $color-secondary-500;
        margin-left: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15px;
      }
    }
  }
  .todo-item-typeB-content {
    padding: 16px 0;
    border-top: 1px solid $color-gray-200;

    .todo-item-btns {
      .btn-item-select {
        margin-top: 14px;
        width: 100%;
        background: $color-gray-white;
        border: 1px solid $color-gray-300;
        border-radius: 3px;
        padding: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;
        &.selected {
          background: $color-primary-500;
        }
        span {
          color: $color-gray-800;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.15px;
          font-weight: 500;
          margin-left: 6px;
        }
      }
    }
  }

  &.expand {
    border: 1px solid $color-gray-400;
    box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.13);
  }
}
