@import "styles/utils";

.work-order-bm-sp-issue-detail {
  .detail-main {
    background: $color-gray-800;
    position: relative;

    .flex-spb {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sticky-header {
      position: sticky;
      top: 0;

      padding: 16px 20px;
      background: $color-gray-800;
      z-index: 20;

      .title {
        .text {
          color: $color-gray-white;
          font-weight: bold;
          font-size: 24px;
          line-height: 25px;
          letter-spacing: -0.1px;
        }
        margin-bottom: 14px;
      }

      .row {
        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }

      .col {
        display: flex;
        align-items: center;
        .label {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: -0.05px;
          color: $color-gray-500;
          min-width: 50px;
        }
        .value {
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: $color-gray-white;
        }

        .sub-text {
          margin-left: 4px;
          color: $color-gray-500;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
        }
        .location {
          display: flex;
          align-items: center;
          .location-icon {
            svg,
            path {
              fill: $color-primary-500;
            }
          }
          .location-text {
            margin-left: 2px;
            color: $color-primary-500;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 1px;
          }
          .rounded-text {
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid $color-gray-300;
            border-radius: 14px;
            padding: 4px 8px;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            color: $color-gray-white;
            margin-left: 8px;
          }
        }
      }
    }

    .content-wrapper {
      padding: 40px 20px;
      background: $color-gray-white;
      border-radius: 4px 4px 0px 0px;

      .row {
        display: flex;
        align-items: center;
        &.flex-spb {
          justify-content: space-between;
        }
      }

      .col {
        display: flex;
        align-items: center;
      }
      .label {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.05px;
        color: $color-gray-900;
      }
      .toggle-delete {
        display: flex;
        align-items: center;
        svg,
        path {
          fill: $color-gray-600;
        }
      }
      .issue-items {
        margin-left: 6px;
        display: flex;
        overflow-x: auto;
        .issue-item {
          margin-right: 6px;
        }
      }
      .panel {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid $color-gray-200;
        box-sizing: border-box;
        box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.1);
        border-radius: 4px;
        .splitter {
          border-radius: 3px;
          width: 1px;
          height: 30px;
          background: $color-gray-300;
        }
        .qty-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .label {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: $color-gray-500;
          }
          .value {
            font-weight: 500;
            font-size: 18px;
            line-height: 19px;
            color: $color-gray-900;
            margin-top: 8px;
          }
        }
      }
      .item-box {
        border: 1px solid $color-gray-300;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.11),
          0px 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 3px;
        padding: 10px;
        min-width: 68px;
        max-width: 140px;
        min-height: 70px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;

        &.add-item {
          align-items: center;
        }

        .add-icon {
          svg,
          rect {
            fill: $color-gray-300;
          }
        }

        &:active,
        &.active {
          border: 1px solid $color-primary-400;

          .add-icon {
            svg,
            rect {
              fill: $color-primary-500;
            }
          }
        }

        &.saved {
          background: $color-gray-50;
        }

        .circle-title {
          padding: 2px 6px;
          border-radius: 20px;
          background: $color-gray-700;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: $color-gray-white;

          &.none-sn {
            background: $color-gray-400;
          }
        }

        .item-text {
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          color: $color-gray-900;
          white-space: nowrap;
        }

        .ab-right {
          position: absolute;
          top: 0;
          right: 0;
          animation: aniFade 0.2s ease-in-out;
        }
      }
    }
  }
  .footer-white {
    background: $color-gray-white;
    .primary-button {
      margin: 18px 20px;
      padding: 14px 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      background: $color-gray-800;
      color: $color-gray-white;
      border-radius: 3px;
      cursor: pointer;
      opacity: 0.3;
      &.active {
        opacity: 1;
      }
    }
  }
}
