@import "styles/utils";

.main-user-card {
  display: flex;
  .card-col {
    &.flex-col {
      display: flex;
      flex-direction: column;
    }
    .firstName-circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $color-contents-normal-c;
      display: flex;
      justify-content: center;
      align-items: center;
      .firtName {
        color: $color-gray-white;
        font-size: 23px;
        line-height: 20px;
        font-weight: bold;
      }
    }
    .main-user-hi {
      color: $color-gray-500;
      font-size: 15px;
      font-weight: 500;
    }
    .fullName {
      color: $color-gray-800;
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
    }
  }
  .card-col + .card-col {
    margin-left: 12px;
  }
}
