@import "styles/utils";

.work-order-manage {
  .work-order-btns {
    padding: 14px 20px;
    display: flex;
    background: $color-gray-white;
    .work-order-btn {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  .work-order-save-check-modal {
    .modal-content {
      color: $color-gray-600;
      font-size: 13px;
      font-weight: normal;
      line-height: 20px;
    }
  }
}
