.carousel-wrap{
  margin:0 -20px;
  .rec-item-wrapper{
    >div{
      width:100%;
    }
  }
  .rec-slider-container{
    margin:0;
  }
  .rec-carousel{
    button{
      display: none;
    }
  }
  .rec-pagination{
    button{
      width:5px;
      height:5px;
      background: #BEC9D4;
      border:0;
      box-shadow:none;
      margin:0 2.5px;
      &.rec-dot_active{
        background: #56606B;
      }
    }
  }
  .item-contents{
    padding:14px;
    background: #FFFFFF;
    border: 1px solid #BEC9D4;
    box-sizing: border-box;
    border-radius: 4px;
    width: calc(100% - 10px);
    margin-right:10px;
  }
}