@import "styles/utils";

.label-select-box {
  label {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.05px;
    color: $color-gray-900;
  }
  .select-dropdown-popup {
    height: 40px;
    margin-top: 6px;
    border: 1px solid #bec9d4;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 8px 16px;
    line-height: 24px;
    min-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      .icon-box {
        margin-right: 11px;
      }
    }
    button {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.05px;
      color: $color-gray-900;

      .placeholder {
        color: $color-gray-600;
      }
    }
  }
}
