@import "styles/utils";

.scrollable-modal-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $color-gray-white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22), 0px -7px 10px rgba(0, 0, 0, 0.12);
  border-radius: 8px 8px 0px 0px;
  z-index: 500;
  overflow: hidden;
  &::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: -1;
  }
  &.anima-top {
    transition: all 0.25s ease-in-out;
  }
  &.before-dimmed {
    &::before {
      background: rgba(0, 0, 0, 0.3);
    }
  }
  .modal-header {
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 20px;
    .button-wrapper {
      .scrollable-button {
        width: 50px;
        height: 5px;
        background: $color-gray-200;
        border-radius: 10px;
      }
    }
  }
  .modal-inner {
    background: inherit;
    height: 100%;
    overflow-y: auto;
    padding: 0 20px 30px;
  }
}
