@import "styles/utils";

.work-order-manage-safetyplan {
  .todo-title {
    padding: 0 20px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .title {
      font-size: 15px;
      line-height: 21px;
      letter-spacing: 0.05px;
      font-weight: 700;
      color: $color-gray-black;
    }
    .btn-todo-all {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.15px;
      font-weight: 500;
      color: $color-gray-400;
    }
  }
  .todo-items {
    padding: 0 20px;
    .todo-item:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
