@import "styles/utils";
.tab-common{
  display: flex;
  align-items:center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  padding:4px 5px;
  position: relative;
  overflow:hidden;
  &.div3{
    &.tab0{
      &:before{
        left:5px;
      }
    }
    &.tab1{
      &:before{
        left:calc(33.3%);
      }
    }
    &.tab2{
      &:before{
        left:calc(66.9% - 5px);
      }
    }
    &:before{
      width:33.3%;
    }
  }
  &.div2{
    &.tab0{
      &:before{
        left:5px;
      }
    }
    &.tab1{
      &:before{
        left:calc(50% );
      }
    }
    &:before{
      width:calc(50% - 5px);
    }
  }
  &:before{
    content: "";
    position: absolute;
    background: #ED3A72;
    border-radius: 8px;
    z-index: 0;
    top:4px;
    bottom:4px;
    transition: left 100ms ease-in-out;
  }
  button{
    padding:4px;
    flex:1 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    color: $color-gray-600;
    transition: all 100ms;
    transition-delay: 10ms;
    &.active{
      color:#fff;
    }
    span{
      display:flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 3;
      svg{
        transition: all 100ms;
        transition-delay: 50ms;
      }
      &:first-child{
        width:24px;
        height:24px;
      }
    }
  }
}