@import "styles/utils";

.text-primary {
  color: $color-primary-500;
}

.pdb88 {
  padding-bottom: 88px !important;
}

.calendar_fix_modal {
  position: fixed;
  background: $color-gray-white;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px 8px 0px 0px;
  z-index: 100;
  &:before {
    content: "";
    background: #000000;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    left: 0;
    top: -30px;
    right: 0;
    bottom: 0;
  }
  > * {
    z-index: 1;
    background: #fff;
  }
  .contents {
    padding-top: 0;
    padding-bottom: 88px;
    height: calc(100% - 88px);
    overflow-y: auto;
    margin-top: 0;

    .calendar-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px 0;
      button {
        padding: 10px;
        &.btn-prev-month {
          transform: rotate(180deg);
        }
      }
      button + button {
        margin-left: 20px;
      }
    }
  }
  .calendar_fm_content {
    position: absolute;
    background: $color-gray-white;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px 8px 0px 0px;
  }

  header {
    position: relative;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 0;
  }
  .select-time-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: $color-gray-900;
    padding: 14px 20px;
  }
  .select-time-wrap {
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: calc(50% - 1px);
      top: 5px;
      bottom: 5px;
      border-left: 1px solid $color-gray-300;
    }
    > * {
      width: calc(50% - 10px);
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .btn-time {
      button {
        width: calc(50% - 7px);
        margin-left: 7px;
        border-radius: 73px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding: 8px 18px;
        background: $color-gray-white;
        color: $color-gray-800;
        border: 1px solid $color-gray-300;
        &:first-child {
          margin-left: 0;
        }
        &.active {
          background: #424952;
          color: $color-gray-white;
          border: 1px solid #424952;
        }
      }
    }
    .select-time {
      border: 2px solid #ed3a72;
      box-sizing: border-box;
      border-radius: 70px;
      padding: 10px;
      height: 40px;
      overflow: hidden;
      ul {
        overflow-y: auto;
        height: 40px;
        padding: 8px;
        li {
          font-weight: 500;
          font-size: 18px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 0.15px;
          color: $color-primary-200;
          &.active {
            color: $color-primary-500;
          }
        }
      }
    }
  }
}

.border20 {
  margin: 0 20px;
  border-top: 1px solid $color-gray-200;
}

.comm-fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color-gray-white;
  padding: 18px 20px;
  &.border1 {
    border-top: 1px solid $color-gray-200;
  }
  .total-type {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    color: #a0a0a0;
    span {
      font-weight: bold;
      font-size: 24px;
      line-height: 23px;
      text-align: center;
      color: #56606b;
    }
  }
}
