@import "styles/utils";

.login-wrapper {
  overflow-y: auto;
  padding: 0 30px;
  height: 100vh;
  .logo {
    margin-top: 86px;
    display: flex;
    align-items: center;
    img {
      margin-right: 4px;
      height: 20px;
      // width: auto;
    }
  }
  .introduction-text {
    margin-top: 27px;
    span {
      display: inline-block;
      color: $color-gray-600;
      font-size: 14px;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: -0.2px;
      &.lg {
        font-weight: 500;
      }
    }
  }
  .logo-text {
    margin-top: 7px;
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      color: $color-gray-900;
      font-size: 27px;
      line-height: 33px;
      letter-spacing: -0.2px;
      font-weight: 400;
      margin-left: 8px;
    }
  }
  .login-text {
    margin-top: 12px;
    display: flex;
    align-items: center;
    .login {
      span {
        display: inline-block;
        font-size: 20px;
        line-height: 33px;
        letter-spacing: -0.2px;
        color: $color-gray-600;
      }
    }
    .join {
      display: flex;
      align-items: center;
      margin-left: 16px;
      > span {
        font-size: 12px;
        line-height: 19px;
        font-weight: 500;
        color: $color-gray-600;
        &.join-link {
          color: $color-secondary-500;
          margin-left: 4px;
        }
      }
    }
  }
  .login-form {
    width: 100%;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .input-box {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      .input-label {
        margin-bottom: 10px;
        span {
          font-size: 13px;
          line-height: 18px;
          color: $color-gray-900;
          font-weight: 500;
          letter-spacing: 0.1px;
        }
        &.flex-box {
          display: flex;
          align-items: center;
          > span {
            margin-left: 5px;
          }
        }
      }
      .input-content {
        position: relative;

        input {
          width: 100%;
          padding-top: 17px;
          padding-bottom: 17px;
          padding-left: 10px;
          border: 1px solid $color-gray-300;
          border-radius: 3px;
          display: flex;
          align-items: center;
          font-size: 12px;
          line-height: 18px;
          font-weight: 400;
          letter-spacing: 0.1;
          &::placeholder {
            color: $color-gray-500;
          }
          &:focus {
            // position: relative;
            // top: -1px;
            // left: -1px;
            border: 2px solid $color-gray-800;
          }
          &:invalid,
          &.invalid {
            border: 2px solid $color-primary-500;
          }
        }
        .ab {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .icon-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: $color-gray-100;
        }
        .good {
          background: $color-status-confirmed;
        }
        .alert {
          background: $color-status-alert;
        }
        .last {
          margin-left: 7px;
        }
      }
      .input-error {
        margin-top: 4px;
        span {
          font-size: 12px;
          line-height: 17.76px;
          letter-spacing: -0.05px;
          font-weight: 400;
          color: $color-status-alert;
        }
      }
    }
    .button-container {
      align-self: flex-end;
      &.next-button {
        background: $color-primary-500;
        border-radius: 3px;
        padding: 14px 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          min-width: 110px;
          font-size: 16px;
          font-weight: 500;
          line-height: 23.7px;
          color: $color-gray-white;
        }
      }
      &.full-width {
        align-self: stretch;
      }
    }
  }
  .modal-error-wrapper {
    .error-message {
      span {
        color: $color-gray-600;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }
}
