@import "styles/utils";

.label-div-typeC {
  position: relative;
  margin-left:10px;
  width:calc(100% - 10px);
  &:first-child{
    margin-left:0;
  }
  min-height: 70px;
  border: 1px solid $color-gray-300;
  border-radius: 3px;
  padding: 10px 10px 20px 10px;
  .info-add-box-label {
    color: $color-gray-900;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
  }
  .ic-link-box {
    position: absolute;
    right: 6px;
    bottom: 6px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: $color-gray-100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
