@import "styles/utils";

.picture-box {
  width: 70px;
  height: 70px;
  position: relative;
  .picture-box-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px dashed rgba(0, 0, 0, 0.19);
    overflow: hidden;

    &.template {
      border-radius: 3px;
      border: 1.5px solid rgba(237, 58, 114, 0.2);
      background: $color-primary-50;
    }
    &.view-picture {
      border-radius: 5px;
      border: none;
      background: transparent;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .black-circle {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-gray-white;
    background: $color-gray-800;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
}
