@import "styles/utils";

.label-input-typeB {
  label {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.05px;
    color: $color-gray-900;
  }
  .input-box {
    position: relative;
    margin-top: 6px;
    width: 100%;
    border: 1px solid $color-gray-300;
    border-radius: 3px;

    &.active {
      border: 2px solid $color-gray-800;
    }

    .input-box-row {
      display: flex;
      align-items: center;
      overflow-x: auto;

      input {
        padding: 11px 0;
        width: 100%;
        height: 100%;
        outline: 0;
        border: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.05px;
        caret-color: $color-primary-500;
        &::placeholder {
          color: $color-gray-400;
        }
        &:focus {
          border: none;
        }
      }
    }
    &.input-plain {
      .input-box-row {
        padding-left: 12px;
      }
    }
    &.active {
      .input-box-row {
        padding-left: 11px;
        input {
          padding: 10px 0;
        }
      }
    }
  }
  input.input-box {
    margin-top: 6px;
    width: 100%;
    padding: 10px;
    border: 1px solid $color-gray-300;
    border-radius: 3px;
    &:focus {
      border: 2px solid $color-gray-800;
    }
  }
}
