@import "styles/utils";

.work-order-comment-modal {
  padding: 22px 20px 28px;
  box-shadow: 0px -4px 12px rgba(33, 40, 55, 0.12);
  border-radius: 12px 12px 0px 0px;
  z-index: 10;
  background: $color-gray-white;
  align-self: flex-end;
  width: 100%;
  .comment-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .col {
      display: flex;
      align-items: center;
      .comment-icon {
        width: 24px;
        height: 24px;
      }
      .comment-modal-title {
        color: $color-gray-black;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.2px;
        line-height: 22px;
        margin-left: 7.4px;
      }
    }
    .comment-textarea {
      width: 100%;
      padding: 12px 6px;
      border: 1px solid $color-gray-300;
      overflow-y: auto;
      height: 120px;
      &:focus,
      &:active {
        border: 2px solid $color-gray-800;
      }
    }
  }
}
