@import "styles/utils";

.label-input-circle-radio {
  width: 100%;
  .label-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: $color-gray-900;
  }
  .radio-items {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }

  .circle-radio {
    input[type="radio"] {
      display: none;
      &:checked + label {
        border: 1px solid $color-primary-400;
        color: $color-primary-500;
      }
    }
    label {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 53px;
      border: 1px solid $color-gray-300;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05px;
      font-weight: 400;
      color: $color-gray-800;
    }
  }
}
