@import "styles/utils";

.search-result-header-typeA {
  padding: 6px 20px;
  background: $color-gray-100;
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .em-no {
      color: $color-gray-600;
      font-size: 12px;
      line-height: 15px;
      font-weight: bold;
    }
    .owning-dept {
      color: $color-gray-500;
      font-size: 13px;
      line-height: 20px;
      font-weight: 500;
    }
    .desc {
      color: $color-gray-500;
      font-size: 12px;
      line-height: 19px;
      font-weight: normal;
    }
    .maker {
      color: $color-primary-500;
      font-size: 12px;
      line-height: 18px;
      font-weight: normal;
    }
  }
  .header-row + .header-row {
    margin-top: 5px;
  }
}
