@import "styles/utils";

.stock-taking-search-form {
  .label-input {
    margin-bottom: 30px;
    .label {
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.05px;
      color: $color-gray-900;
    }

    .date-input-row {
      display: flex;
      align-items: center;

      .date-label {
        min-width: 55px;
        color: $color-gray-600;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.05px;
      }
      .calendar-fromto-type {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 6px;

        .date-calendar-input {
          display: inline-flex;
          align-items: center;
          justify-content: space-around;
          border: 1px solid #bec9d4;
          box-sizing: border-box;
          border-radius: 3px;
          padding: 11px 6px 11px 12px;

          input[type="text"] {
            border: 0;
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            color: $color-gray-900;
            padding: 0 4px 0 6px;
          }

          svg {
            display: block;
          }
          &.input-col {
            &:first-child {
              width: 150%;
            }
            &:last-child {
              width: 100%;
            }
            &:not(:last-child) {
              margin-right: 8px;
            }
          }
        }
        .bar {
          margin: -6px 4px 0;
          color: #c4c4c4;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}
.stocktaking-search-select-modal {
  .select-wrapper {
    background: $color-gray-white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22),
      0px -7px 10px rgba(0, 0, 0, 0.12);
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    padding: 28px 20px 48px;
    animation: aniUpDownMount 0.2s ease-in-out forwards;
    .select-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      .header-text {
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        color: $color-gray-900;
      }
    }
    .select-items {
      .select-item {
        padding: 12px 0;
        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-100;
        }
        .select-item-content {
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.05px;
          color: $color-gray-900;
        }
      }
    }
  }
}
