@import "styles/utils";

.work-order-check-result-insert {
  background: $color-gray-50;
  border-radius: 4px;
  border: 1px solid transparent;
  .check-result-item-header {
    padding: 16px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .col {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      &:not(:first-child) {
        margin-left: 7px;
      }
      .flex-box {
        display: flex;
        align-items: center;
      }
      .circle-point {
        background: $color-gray-white;
        border: 1px solid $color-gray-300;
        border-radius: 14px;
        padding: 4px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6px;
        & > span {
          font-size: 13px;
          line-height: 20px;
          color: $color-gray-700;
        }
        .point {
          font-weight: 500;
        }
        .unit {
          margin-left: 5px;
          font-weight: 700;
        }
      }
      .item-index {
        margin-right: 5px;
        color: $color-gray-600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05px;
        font-weight: 700;
      }
      .item-name {
        color: $color-gray-900;
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
        &.line-ellipse {
          display: -webkit-box;
          -webkit-line-clamp: 1; /* 라인수 */
          -webkit-box-orient: vertical;
          max-height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
        }
      }
      .expand-text {
        white-space: nowrap;
        color: $color-gray-400;
        margin-right: 4px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.15px;
        font-weight: 500;
      }
      .selected-text {
        white-space: nowrap;
        color: $color-secondary-500;
        margin-left: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15px;
      }
      .selected-round-tag {
        padding: 3px 8px;
        background: $color-gray-white;
        border: 1px solid $color-gray-300;
        border-radius: 14px;

        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        color: $color-gray-700;

        &.alert {
          border: 1px solid $color-primary-500;
          color: $color-primary-500;
        }
      }
    }
  }
  .check-result-item-content {
    padding-bottom: 16px;

    .spliter {
      margin: 12px 14px;
      height: 1px;
      background: $color-gray-200;
      display: flex;
      justify-content: center;
      align-items: center;
      &.mt-none {
        margin-top: 0;
      }
    }
    .check-result-labeled {
      padding: 0 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.flex-top {
        align-items: flex-start;
      }
      &.bg-dark {
        padding-top: 10px;
        padding-bottom: 10px;
        background: $color-gray-100;
      }
      .labeled-row {
        display: flex;
        align-items: center;
      }

      .label {
        color: $color-gray-500;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
        min-width: 100px;
      }
      .flex-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 6px;
      }
      .input-wrapper {
        width: 100%;
        position: relative;
        .ab-left {
          position: absolute;
          left: 12px;
          top: 9px;
        }
        .input-content {
          padding-left: 44px;
          &::placeholder {
            color: $color-gray-600;
          }
          &:focus {
            padding-left: 43px;
            border: 2px solid $color-gray-800;
          }
        }
      }
      .input-content {
        width: 100%;
        color: $color-gray-900;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05px;
        font-weight: 400;
        padding: 10px 12px;
        border: 1px solid $color-gray-300;
        border-radius: 3px;
        resize: none;
        &::placeholder {
          color: $color-gray-400;
        }
        &:focus {
          border: 1px solid $color-gray-800;
        }
        &.bg-white {
          background: $color-gray-white;
        }
      }
      .comment {
        &.more {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 10px;
            background: $color-status-alert;
            border-radius: 50%;
          }
        }
      }
      .input-checkbtnItems {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .input-checkbtnItem {
          width: 100%;
          &:not(:last-child) {
            margin: 0;
            margin-right: 6px;
          }
          .check-button {
            padding-top: 10px;
            padding-bottom: 10px;
            background: $color-gray-white;
            color: $color-gray-800;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.05px;
            border: 1px solid $color-gray-200;
            border-radius: 20px;
            text-align: center;
            &.selected {
              border: 1px solid $color-primary-300;
              color: $color-primary-500;
              font-weight: 500;
            }
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &.flex-col {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  &.expand {
    border: 1px solid $color-gray-400;
    box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.13);
    .check-result-item-header {
      align-items: flex-start;
    }
  }
}

.check-result-item-content {
  transform-origin: top center;
  &.expand {
    animation: accordfadeIn 0.3s ease-in-out forwards;
  }
  &.collapse {
    animation: accordfadeOut 0.3s ease-in-out forwards;
  }
}
