@import "styles/utils";

.delivery-detail {
  .delivery-detail-main {
    background: $color-gray-800;
    position: relative;

    .flex-spb {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sticky-header {
      position: sticky;
      top: 0;

      padding: 16px 20px;
      background: $color-gray-800;
      z-index: 20;

      .col {
        display: flex;
        align-items: center;

        .text {
          color: $color-gray-white;
          font-weight: bold;
          font-size: 24px;
          line-height: 25px;
          letter-spacing: -0.1px;
        }
        .sub-text {
          margin-left: 4px;
          color: $color-gray-500;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
        }
        .store {
          display: flex;
          align-items: center;
          svg,
          path {
            fill: $color-gray-500;
          }
          .text {
            margin-left: 2px;
            color: $color-gray-500;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 1px;
          }
        }
      }
    }
    .step-path {
      margin-bottom: 26.5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 23px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 56px;
        height: 2px;
        background: $color-gray-600;
      }
      &.half {
        // &::before {
        //   background: linear-gradient(
        //     to right,
        //     $color-primary-400 50%,
        //     $color-gray-600 50%
        //   );
        // }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 50%;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 56px;
          height: 2px;
          background: $color-primary-400;
        }
      }
      &.all {
        &::before {
          background: $color-primary-400;
        }
      }

      .circle-path {
        width: 56px;
        height: 56px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;

        .path {
          width: 34px;
          height: 34px;
          background: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;

          .default-point {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $color-gray-600;
          }
        }

        .path-name {
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateY(100%) translateX(-50%);
          font-weight: bold;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 1px;
          color: $color-gray-600;
          text-transform: capitalize;
        }

        &.active {
          //   background: $color-primary-400;
          background: rgba(237, 58, 114, 0.2);

          .path {
            background: $color-primary-400;
            z-index: 10;
          }
          .path-name {
            color: $color-primary-400;
          }
        }

        &.done {
          .path {
            .default-point {
              background: $color-primary-400;
            }
          }
          .path-name {
            color: $color-primary-400;
          }
        }
      }
    }

    .dashboard-panel {
      top: 56px;
      position: sticky;
      .dashboard-inner {
        position: relative;

        .inner-box {
          margin: 0 36px;
          padding: 17px 0 17px 22px;
          display: flex;
          align-items: center;
          background: $color-gray-white;
          box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
          border-radius: 4px;
          .col {
            .rectangle-icon {
              width: 46px;
              height: 46px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: $color-gray-50;
              border-radius: 4px;
            }
            &:not(:last-child) {
              margin-right: 20px;
            }

            &.flex-col {
              display: flex;
              flex-direction: column;
              .panel-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: $color-gray-900;
                margin-bottom: 8px;
              }
              .panel-content {
                display: flex;
                align-items: center;

                .label {
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 16px;
                  color: $color-gray-800;
                  margin-right: 4px;
                }
                .value {
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 19px;
                  color: $color-primary-400;
                }
                .splitter {
                  margin-left: 10px;
                  margin-right: 10px;
                  height: 10px;
                  width: 1px;
                  background: $color-gray-200;
                  border-radius: 3px;
                }
              }
            }
          }
          z-index: 20;
        }

        .bg-trick {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          .top {
            height: 100%;
            background: $color-gray-800;
          }
          .bottom {
            height: 100%;
            background: transparent;
            //background: $color-gray-white;
            border-radius: 4px 4px 0px 0px;
          }
          z-index: -1;
        }
      }
    }

    .content-panel {
      margin-top: -40px;
      padding: 60px 20px 20px;
      background: $color-gray-white;
      border-radius: 4px 4px 0px 0px;

      .content-row {
        display: flex;
        margin-bottom: 30px;

        &.flex-col {
          flex-direction: column;
        }
        .col {
          flex: 1;
          display: flex;
          flex-direction: column;
          padding-bottom: 12px;
          border-bottom: 1px solid $color-gray-200;
          &.no-bb {
            border-bottom: 1px solid transparent;
          }
          .label {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: $color-gray-900;
            margin-bottom: 6px;

            &.flex-row {
              display: flex;
              align-items: center;

              & > * {
                &:not(:first-child) {
                  margin-left: 4px;
                }
              }
            }
            &.spb {
              justify-content: space-between;
            }
            .reset {
              display: flex;
              align-items: center;
              svg,
              path {
                fill: $color-primary-500;
              }
              .reset-text {
                margin-left: 9px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $color-primary-500;
              }
            }
          }
          .value {
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
            color: $color-gray-900;

            .sign-pad-box {
              width: 100%;
              height: 215px;
              background: rgba(255, 185, 65, 0.05);
              border: 1.5px dashed #bec9d4;
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              .sign-pad-icon {
                svg,
                path,
                rect {
                  fill: $color-primary-400;
                }
              }
              .sign-img {
                width: 100%;
                height: 100%;
              }
            }

            .ellipsis-text {
              font-weight: normal;
              font-size: 13px;
              line-height: 20px;
              color: $color-gray-600;

              flex: 1;
              &.ellipsis {
                display: -webkit-box;
                -webkit-line-clamp: 1; /* 라인수 */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .ellipsis-icon {
              margin-left: 8px;
              svg,
              path {
                fill: $color-gray-600;
              }
            }
            &.flex-row {
              display: flex;
              flex-direction: row;
              align-items: center;
              &.spb {
                justify-content: space-between;
              }
            }

            &.more-detail {
              display: flex;
              align-items: center;
              .value-labeled {
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.05px;
                color: $color-gray-800;
              }
              .value-import {
                margin-left: 4px;
                margin-right: 1px;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.05px;
                color: $color-primary-500;
              }
              .value-normal {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.05px;
                color: $color-gray-500;
              }
            }

            .circle {
              display: inline-block;
              padding: 2px 12px;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.15px;
              border-radius: 53px;
              border: 1px solid $color-gray-300;
              &.fill {
                background: $color-gray-50;
              }
            }
          }
          &.flex-row {
            flex-direction: row;
            align-items: center;
            & > * {
              margin-bottom: 0;
            }
            &.spb {
              justify-content: space-between;
            }
            &.same-children > * {
              flex: 1;

              &:not(:first-child) {
                margin-left: 16px;
              }
            }
          }
          .delivery-items {
            display: flex;
            overflow-x: auto;
            .delivery-item {
              margin-right: 6px;
              .delivery-item-box {
                border: 1px solid $color-gray-300;
                border-radius: 3px;
                padding: 10px 0;
                padding-left: 10px;
                padding-right: 5px;
                height: 70px;
                width: 100px;
                .item-status {
                  display: inline-flex;
                  border-radius: 20px;
                  padding: 2px 6px;
                  justify-content: center;
                  align-items: center;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 18px;
                  background: $color-primary-400;
                  color: $color-gray-white;
                  margin-bottom: 7px;
                }
                .item-id {
                  font-weight: 500;
                  font-size: 13px;
                  line-height: 20px;
                  color: $color-gray-900;
                  display: -webkit-box;
                  -webkit-line-clamp: 1; /* 라인수 */
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                &.active {
                  background: $color-gray-50;
                  .item-status {
                    color: $color-gray-600;
                    background: $color-gray-200;
                  }
                }
              }
            }
          }
        }
        .col + .col {
          margin-left: 16px;
        }
        &.flex-col {
          .col {
            margin-left: 0;
          }
        }
      }
    }
  }

  .footer-white {
    background: $color-gray-white;
    .save-button {
      margin: 18px 20px;
      padding: 14px 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 23.68px;
      background: $color-primary-500;
      color: $color-gray-white;
      border-radius: 3px;
      cursor: pointer;
      opacity: 0.3;
      &.active {
        opacity: 1;
      }
    }
  }
}

.notistack {
  .ok-wrapper {
    display: flex;
    align-items: center;
    .text {
      margin-left: 10px;
    }
  }
}
