@import "styles/utils";

.delivery-card-panel {
  background: $color-gray-white;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
  border-radius: 4px;
  padding-top: 12px;
  .row {
    position: relative;
    padding: 0 14px;
    display: flex;
    align-items: center;
    &.spb {
      justify-content: space-between;
    }
    &.bt-dotted {
      border-top: 1px dashed $color-gray-200;
      padding: 7px 14px;
    }
    .col {
      display: flex;
      align-items: center;
      &.center {
        justify-content: center;
        align-items: center;
      }
      &.flex-col {
        flex-direction: column;
        align-items: flex-start;

        &:last-child {
          align-items: flex-end;
        }
      }
      &:last-child {
        justify-content: flex-end;
      }
    }
    .title {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 1px;
      color: $color-gray-800;
    }
    .date {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: $color-gray-600;
      margin-left: 10px;

      &.time {
        margin-left: 4px;
      }
    }
    .box-text {
      border-radius: 3px;
      background: $color-gray-100;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: $color-gray-700;
      padding: 2px 8px;
    }
    .circle-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 27px;
      height: 27px;
      border-radius: 50%;
      background: $color-gray-50;
      display: flex;
      justify-content: center;
      align-items: center;
      svg,
      path {
        fill: $color-primary-400;
      }
    }
    .label {
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: $color-gray-400;
    }
    .value {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: $color-primary-400;
    }
    .value-with-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 6px;
      background: $color-gray-100;
      border-radius: 15px;
      &:not(:last-child) {
        margin-right: 4px;
      }
      svg,
      path {
        fill: $color-gray-600;
      }
      .icon-value {
        margin-left: 4px;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        color: $color-gray-600;
      }
    }
    .desc {
      font-size: 12px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: $color-gray-600;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* 라인수 */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
