@import "styles/utils";

.search-detail-header-typeA {
  display: flex;
  flex: 1;
  input {
    width: 100%;
    border: none;
    min-width: 100px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: $color-gray-900;
    caret-color: $color-primary-500;
  }
}
