.ani-tab{
  ul{
    padding-left:16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    li{
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: #2C3238;
      opacity: 0.4;
      padding:6px 0px;
      margin-right:20px !important;
      position:relative;
      svg{
        margin-left:4px;
      }
      .underline {
        background:#E0205C;
        height: 2px;
        border-radius: 2px;
        position: absolute;
        bottom: 0px;
      }
      &.active{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: #2C3238;
        opacity: 1;
        .underline {
          animation: ani 200ms ease-in-out ;
          width:100%;
        }
      }
    }
  }
}

@keyframes ani {
  from{
    width:0;
  }
  to{
    width:100%;
  }
}