@import "styles/utils";

.work-order-bm-sp {
  .work-order-tabs {
    display: flex;
    align-items: center;
    padding: 5px 20px;

    .tab {
      width: 100%;
    }
    .tab-panel {
      &.visible {
        display: block;
      }
      &.hidden {
        display: none;
      }
    }
  }
  .work-order-bm-save-check-modal {
    .modal-content {
      color: $color-gray-600;
      font-size: 13px;
      font-weight: normal;
      line-height: 20px;
    }
  }
}

.activity-list {
  position: relative;
  .sp-history-wrap {
    margin-bottom: 20px;
  }
  .al_head {
    position: sticky;
    top: 0;
    background: $color-gray-white;
    z-index: 100;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 20px;
      height: 84px;
      background: $color-gray-white;
    }
    &:before {
      left: -20px;
    }
    &:after {
      right: -20px;
    }
    .sp-modal-title {
      z-index: 100;
      font-weight: bold;
      font-size: 24px;
      line-height: 25px;
      letter-spacing: -0.1px;
      color: $color-gray-900;
    }
    dl {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 34px 0 12px;
      dt {
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.1px;
        color: $color-gray-500;
        margin-right: 10px;
      }
      dd {
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.1px;
        color: $color-gray-900;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: normal;
        white-space: nowrap;
      }
    }
  }
  .sp-history-item {
    background: #ffffff;
    border-radius: 4px;
    //filter: drop-shadow(1px 1px 6px rgba(33, 40, 55, 0.2));
    box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.2);
    margin-bottom: 8px;
    padding: 12px 20px;
    .sphi-title {
      .tit {
        font-weight: normal;
        font-size: 10px;
        line-height: 19px;
        color: $color-primary-500;
      }
      .tit-txt {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        color: $color-gray-900;
      }
    }
    .sphi-list {
      margin-bottom: 12px;
      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        line-height: 19px;
        span {
          display: block;
          font-weight: normal;
          font-size: 12px;
          line-height: 19px;
          color: $color-gray-900;
          &:first-child {
            width: 66px;
            margin-right: 14px;
          }
        }
      }
    }
    button {
      padding: 6px 0;
      height: 36px;
      border: 1px solid $color-gray-300;
      box-sizing: border-box;
      border-radius: 3px;
      width: 100%;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.15px;
      color: $color-gray-900;
    }
  }
}

.work-order-sp-requirements {
  background: #f5f8fa;
  height: 100vh;
  position: relative;
  .wospr-header {
    background: $color-gray-white;
    box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    .row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .count-circle {
        margin-left: 6px;
      }
      .wospr-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.2px;
        color: $color-gray-900;
      }
    }
    .wospr-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      button {
        width: calc(100% - 4px);
        &:first-child {
          margin-right: 4px;
        }
        &:last-child {
          margin-left: 4px;
        }
      }
    }
  }

  .wospr-sub-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.2px;
    color: $color-gray-900;
    padding: 26px 20px 10px;
  }

  .wospr-contents-list {
    padding: 0 20px 20px;
    margin-top: 20px;
  }
  .new-item-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px;
    margin-top: 8px;
    color: $color-gray-500;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    background: $color-gray-100;
    border-radius: 4px;
    svg {
      margin-right: 9px;
      opacity: 0.5;
    }
  }
}
