@import "styles/utils";

.return-detail {
  .return-detail-main {
    background: $color-gray-800;
    position: relative;

    .flex-spb {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sticky-header {
      position: sticky;
      top: 0;

      padding: 16px 20px;
      background: $color-gray-800;
      z-index: 20;

      .col {
        display: flex;
        align-items: center;

        .text {
          color: $color-gray-white;
          font-weight: bold;
          font-size: 24px;
          line-height: 25px;
          letter-spacing: -0.1px;
        }
        .sub-text {
          margin-left: 4px;
          color: $color-gray-500;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .content-panel {
      margin-top: -40px;
      padding: 60px 20px 20px;
      background: $color-gray-white;
      border-radius: 4px 4px 0px 0px;

      .content-row {
        display: flex;
        margin-bottom: 30px;

        &.flex-col {
          flex-direction: column;
        }
        .col {
          flex: 1;
          display: flex;
          flex-direction: column;
          padding-bottom: 12px;
          border-bottom: 1px solid $color-gray-200;
          &.no-bb {
            border-bottom: 1px solid transparent;
          }
          .label {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: $color-gray-900;
            margin-bottom: 6px;

            &.flex-row {
              display: flex;
              align-items: center;

              & > * {
                &:not(:first-child) {
                  margin-left: 4px;
                }
              }
            }
            &.spb {
              justify-content: space-between;
            }
            .reset {
              display: flex;
              align-items: center;
              svg,
              path {
                fill: $color-primary-500;
              }
              .reset-text {
                margin-left: 9px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $color-primary-500;
              }
            }
          }
          .value {
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
            color: $color-gray-900;

            .sign-pad-box {
              width: 100%;
              height: 215px;
              background: rgba(255, 185, 65, 0.05);
              border: 1.5px dashed #bec9d4;
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              .sign-pad-icon {
                svg,
                path,
                rect {
                  fill: $color-primary-400;
                }
              }
              .sign-img {
                width: 100%;
                height: 100%;
              }
            }

            .ellipsis-text {
              font-weight: normal;
              font-size: 13px;
              line-height: 20px;
              color: $color-gray-600;

              flex: 1;
              &.ellipsis {
                display: -webkit-box;
                -webkit-line-clamp: 1; /* 라인수 */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .ellipsis-icon {
              margin-left: 8px;
              svg,
              path {
                fill: $color-gray-600;
              }
            }
            &.flex-row {
              display: flex;
              flex-direction: row;
              align-items: center;
              &.spb {
                justify-content: space-between;
              }
            }

            &.more-detail {
              display: flex;
              align-items: center;
              .value-labeled {
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.05px;
                color: $color-gray-800;
              }
              .value-import {
                margin-left: 4px;
                margin-right: 1px;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.05px;
                color: $color-primary-500;
              }
              .value-normal {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.05px;
                color: $color-gray-500;
              }
            }

            .circle {
              display: inline-block;
              padding: 2px 12px;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.15px;
              border-radius: 53px;
              border: 1px solid $color-gray-300;
              &.fill {
                background: $color-gray-50;
              }
            }
          }
          &.flex-row {
            flex-direction: row;
            align-items: center;
            & > * {
              margin-bottom: 0;
            }
            &.spb {
              justify-content: space-between;
            }
            &.same-children > * {
              flex: 1;

              &:not(:first-child) {
                margin-left: 16px;
              }
            }
          }
          .return-items {
            display: flex;
            overflow-x: auto;
            .return-item {
              margin-right: 6px;
              .return-item-box {
                border: 1px solid $color-gray-300;
                border-radius: 3px;
                padding: 10px 0;
                padding-left: 10px;
                padding-right: 5px;
                height: 70px;
                width: 100px;
                .item-status {
                  display: inline-flex;
                  border-radius: 20px;
                  padding: 2px 6px;
                  justify-content: center;
                  align-items: center;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 18px;
                  background: $color-primary-400;
                  color: $color-gray-white;
                  margin-bottom: 7px;
                }
                .item-id {
                  font-weight: 500;
                  font-size: 13px;
                  line-height: 20px;
                  color: $color-gray-900;
                  display: -webkit-box;
                  -webkit-line-clamp: 1; /* 라인수 */
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                &.active {
                  background: $color-gray-50;
                  .item-status {
                    color: $color-gray-600;
                    background: $color-gray-200;
                  }
                }
              }
            }
          }
        }
        .col + .col {
          margin-left: 16px;
        }
        &.flex-col {
          .col {
            margin-left: 0;
          }
        }
      }
    }
    .comment-panel {
      background: $color-gray-50;
      padding-top: 10px;
      .inner {
        background: $color-gray-white;
        padding: 28px 20px 18px;
        .comment-header {
          display: flex;
          align-items: center;
          .comment-icon {
            svg,
            path {
              fill: $color-gray-900;
            }
          }
          .comment-title {
            margin-left: 4px;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: $color-gray-900;
          }
        }
        .comment-ta {
          margin-top: 8px;
          border: 1px solid $color-gray-300;
          border-radius: 3px;
          padding: 11px 0;
          padding-left: 12px;
          width: 100%;
          min-height: 54px;
          outline: 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.05px;
          caret-color: $color-primary-500;
          resize: none;
          &::placeholder {
            color: $color-gray-400;
          }
          &:focus {
            padding: 10px 0;
            padding-left: 11px;
            border: 2px solid $color-gray-800;
          }
        }
      }
    }
  }
  .footer-white {
    background: $color-gray-white;
    padding: 18px 20px;
  }
  .return-buttons {
    display: flex;
    .return-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px;
      width: 100%;
      border: 1px solid $color-gray-300;
      border-radius: 3px;
      .button-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $color-gray-800;
      }
      &:not(:last-child) {
        margin-right: 8px;
      }
      &.active {
        background: $color-gray-800;
        border: 1px solid $color-gray-800;
        .button-text {
          color: $color-gray-white;
        }
      }
      &.disabled {
        .button-text {
          opacity: 0.3;
        }
      }
    }
  }
}

.return-confirm-modal {
  .modal-content {
    font-size: 13px;
    font-weight: 400;
    color: $color-gray-600;
    line-height: 20px;
  }
}

.notistack {
  .ok-wrapper {
    display: flex;
    align-items: center;
    .text {
      margin-left: 10px;
    }
  }
}
