@import "styles/utils";

.work-order-bm-diagnosis-cause-typeB {
  .infos {
    display: flex;
    align-items: center;
    &.flex-col {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &:not(:last-child) {
      margin-bottom: 14px;
    }

    .info-line {
      width: 100%;
      display: flex;
      align-items: flex-start;
      .label {
        min-width: 100px;
        color: $color-gray-500;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
      }
      .content {
        color: $color-gray-900;
        font-size: 13px;
        line-height: 19px;
        font-weight: 400;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  .info-splitter {
    width: 100%;
    height: 1px;
    margin: 12px 0;
    background: $color-gray-200;
  }
}
