@import "styles/utils";

.work-order-tab-button-typeA {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  .circle-number {
    width: 20px;
    height: 20px;
    background: $color-gray-300;
    opacity: 0.6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.1s ease;
    span {
      color: $color-gray-800;
      font-size: 10px;
      line-height: 14.8px;
      letter-spacing: 0.09px;
      font-weight: 700;

      transition: all 0.1s ease;
    }
  }
  .tab-name {
    margin-left: 10px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.1s ease;
    span {
      color: $color-gray-400;
      font-size: 13px;
      line-height: 18.46px;
      letter-spacing: 1px;
      font-weight: 700;

      transition: all 0.1s ease;
    }
  }
  background-repeat: no-repeat;
  transition: background 0.1s ease;
  // &.left-to-right {
  //   background: linear-gradient(
  //     to left,
  //     transparent 50%,
  //     $color-primary-400 50%
  //   );
  //   background-size: 250% 100%;
  //   background-position: right bottom;
  //   &.active {
  //     background-position: left bottom;
  //   }
  // }
  // &.right-to-left {
  //   background: linear-gradient(
  //     to right,
  //     transparent 50%,
  //     $color-primary-400 50%
  //   );
  //   background-size: 250% 100%;
  //   background-position: left bottom;
  //   &.active {
  //     background-position: right bottom;
  //   }
  // }
  &.active {
    //background: $color-primary-400;
    //box-shadow: 1px 1px 4px rgba(117, 34, 54, 0.12);
    // animation: borderRadius 0.1s ease forwards;
    // filter: drop-shadow(1px 1px 12px rgba(159, 52, 91, 0.2));
    .circle-number {
      opacity: 1;
      background: $color-gray-white;
      span {
        color: $color-primary-400;
      }
    }
    .tab-name {
      opacity: 1;
      span {
        color: $color-gray-white;
      }
    }
  }
}
