@import "styles/utils";

.actual-state-display {
  .rectangle {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    background: rgba(4, 179, 149, 0.1);
    border: none;
    &.processing {
      border: 1px solid $color-gray-200;
      background: $color-gray-50;
    }
    .circle {
      border-radius: 50%;
      border: 1px solid $color-gray-600;
      overflow: hidden;
    }
  }
}
