@import "styles/utils";

.work-order-bm-sp-issue-item-panel {
  .row {
    margin-bottom: 28px;

    &.border-bottom {
      padding-bottom: 16px;
      border-bottom: 1px solid $color-gray-200;
    }
  }
  .row-alter {
    margin-bottom: 18px;
  }
  .row-sub {
    padding: 10px 20px;
    margin: 0 -20px;
    margin-bottom: 28px;
    background: $color-gray-50;

    .label-sub {
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      color: $color-gray-900;
    }

    .active {
      background: $color-gray-white;
    }
  }
  .add-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-secondary-500;
  }
  .add-icon {
    margin-left: 8px;
    svg,
    path {
      fill: $color-secondary-500;
    }
  }
  .comment-panel {
    .comment-header {
      display: flex;
      align-items: center;
      .comment-icon {
        svg,
        path {
          fill: $color-gray-900;
        }
      }
      .comment-title {
        margin-left: 4px;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: $color-gray-900;
      }
    }
    .comment-ta {
      margin-top: 8px;
      border: 1px solid $color-gray-300;
      border-radius: 3px;
      padding: 11px 0;
      padding-left: 12px;
      padding-right: 12px;
      width: 100%;
      min-height: 54px;
      outline: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.05px;
      caret-color: $color-primary-500;
      resize: none;
      &::placeholder {
        color: $color-gray-400;
      }
      &:focus {
        padding: 10px 12px;
        padding-left: 11px;
        border: 2px solid $color-gray-800;
      }
    }
  }
}

.add-quantity-modal {
  .counter-input {
    width: 176px;
  }
  .row {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .row-alter {
    margin-bottom: 20px;
  }
  .row-sub {
    background: $color-gray-50;
    padding: 10px 20px;
    margin: 0 -20px;
    margin-bottom: 20px;
  }
  .comment-ta {
    margin-top: 8px;
    border: 1px solid $color-gray-300;
    border-radius: 3px;
    padding: 11px 0;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    min-height: 54px;
    outline: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05px;
    caret-color: $color-primary-500;
    resize: none;
    &::placeholder {
      color: $color-gray-400;
    }
    &:focus {
      padding: 10px 12px;
      padding-left: 11px;
      border: 2px solid $color-gray-800;
    }
    background: $color-gray-50;
    &.active {
      background: $color-gray-white;
    }
  }
}
