@import "styles/utils";

.work-order-op-detail {
  .inner-op {
    flex: 1;
    display: flex;
    .op-index {
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.05px;
      font-weight: 500;
      color: $color-gray-900;
    }
    .op-flex {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .work-order-op-detail-main {
    overflow-y: auto;
    background: $color-gray-50;
    .detail-view {
      background: $color-gray-white;
      padding: 40px 20px 45px;
      .view-flex {
        display: flex;
        align-items: center;
      }
      .scheduled-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .seperator {
          width: 8px;
          height: 1px;
          background: $color-gray-800;
        }
      }
      .ab-top-right {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        .rectangle-box {
          background: rgba(178, 128, 255, 0.1);
          border-radius: 4px;
          border: 1px solid $color-contents-normal-b;
          padding: 1px 4px;
          font-size: 12px;
          font-weight: 400;
          color: $color-contents-strong-b;
        }
      }
      .flex-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > :not(:last-child) {
          margin-bottom: 8px;
        }
      }
      .form-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title-text {
          font-size: 15px;
          line-height: 20px;
          font-weight: 700;
          color: $color-gray-900;
          position: relative;
          &.import {
            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              transform: translateX(150%) translateY(100%);
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: $color-primary-500;
            }
          }
        }
        .title-button {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.05px;
            font-weight: 500;
            color: $color-gray-500;
          }
          .rotate180 {
            margin-left: 8px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .footer-white {
    background: $color-gray-white;
    .save-button {
      margin: 18px 20px;
      padding: 14px 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 23.68px;
      background: $color-gray-800;
      color: $color-gray-white;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
