@import "styles/utils";

.comments-modal-wrap{
  .comm-textarea{
    padding:0 20px;
    textarea{
      width:100%;
      height:120px;
      border:1px solid $color-gray-300;
      padding:11px 12px 12px;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color:$color-gray-900;
      &:focus{
        border:2px solid $color-gray-800;
        padding:10px 11px 11px;
      }
    }
  }
}