.switch-btn{
  position:relative;
  border-radius: 8px;
  width:42px;
  height:16px;
  transition: all 600ms;
  &.off{
    background: #BEC9D4;
    .round-handle{
      border: 2px solid #A5B3C2;
      left:0;
    }
  }
  &.on{
    background:#ED3A72;
    .round-handle{
      border: 2px solid #ED3A72;
      left:16px;
    }
  }

  .round-handle{
    width:26px;
    height:26px;
    border-radius:13px;
    box-sizing: border-box;
    display: block;
    background: #FFFFFF;
    position:absolute;
    top:-5px;
    transition: all 300ms;
  }
}