@import "styles/utils";

.alarm-landing {
  .alarm-list-items {
    .splitter {
      height: 20px;
      background: $color-gray-100;
      &.with-text {
        height: auto;
        padding: 17px;
        text-align: center;
        font-size: 12px;
        line-height: 19px;
        font-weight: 500;
        color: $color-gray-500;
      }
    }
  }
}
