@import "styles/utils";

.main-wrapper {
  .main {
    margin-top: 56px;
    background: $color-gray-50;
    height: calc(100vh - 56px - 60px);
    overflow-y: auto;
    padding-bottom: 30px;
    .main-user {
      padding: 25px 20px;
    }
    .main-menu-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .main-menu-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 12px;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
}
