@import "styles/utils";

.voice-recording-wrap{
  .modal-header{
    padding:24px 20px 6px;
    h1{
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }
    svg{
      margin-right:4px;
    }
  }

  .record-type{
    min-height: 88px;
    background: #424952;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:14px 0;
  }
  .btn-record{
    width:60px;
    height:60px;
    margin:0 auto;
    position: relative;
    &:before,
    &:after{
      content:"";
      position:absolute;
      z-index: 1;
    }
    &:before{
      border: 2px solid $color-gray-white;
      border-radius:30px;
      box-sizing: border-box;
      left:0;
      right:0;
      bottom:0;
      top:0;
    }
    &:after{
      width:42px;
      height:42px;
      border-radius:21px;
      background: $color-primary-400;
      left:9px;
      top:9px;
    }
    svg{
      z-index:2;
      position: relative;
    }

    &.stop{
      &:after{
        width:30px;
        height:30px;
        border-radius:3px;
        left:15px;
        top:15px;
      }
    }
  }
}

.voice-recording-content{
  padding:0 24px 24px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height:280px;
  overflow-y: auto;
  .voice-recording-item{
    border:1px solid $color-gray-50;
    background: $color-gray-50;
    border-radius: 4px;
    padding:6px 14px;
    margin-top:8px;
    &.active{
      border:1px solid $color-gray-300;
    }
    .vr-header{
      display:flex;
      justify-content: space-between;
      align-items: center;
      span{
        display:block;
        &:first-child{
          font-size: 13px;
          color: $color-gray-800;
        }
        line-height: 20px;
        color: $color-gray-500;
        font-size:12px;
      }
      div{
        &:last-child{
          font-size: 12px;
          line-height: 20px;
          text-align: right;
          color: $color-primary-500;
        }
      }
    }
  }
}

.play-bar{
  padding-top:6px;
  .recordline{
    width:100%;
    height:26px;
    background:url(../../../asset/images/@img-recordline-02.png) no-repeat center 0;
    background-size: 100%;
    display: block;
  }
  .play-time{
    font-size: 10px;
    line-height: 15px;
    color: $color-gray-300;
  }
}

.play-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    display: inline-flex;;
    align-items: center;
    justify-content: center;
    width:calc(100% - 24px);
    padding-left:24px;
  }
  .btn_delete{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }
}


.new-record-bottom{
  width:100%;
  span{
    display: block;
  }
  .title{
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: $color-gray-white;
    opacity: 0.5;
  }
  .time{
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    color: $color-gray-white;
    margin-top:5px;
  };
  .recordline{
    margin:20px 0;
    width:100%;
    height:60px;
    background:url(../../../asset/images/@img-recordline-01.png) no-repeat center 0;
    background-size: 100%;
    display: block;
  }
}