@import "styles/utils";

.search-form{
  &.typeC{
    .search-main{
      background:$color-gray-white;
      .result-items{
        li{
          padding:14px 20px;
          border-bottom:1px solid $color-gray-100;
        }
      }
    }
  }
}
.search-result-card-inventory-typeC {
  display: flex;
  flex-direction: column;
  .result-row {
    display: flex;
    justify-content: space-between;

    .result-col {
      .item-thumbnail-box {
        width: 46px;
        height: 46px;
        background: $color-gray-white;
        box-shadow: inset 0px -2px 15px rgba(68, 82, 118, 0.12);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 38px;
          height: 38px;
        }
        margin-bottom: 6px;
      }
    }
    .item-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .item-code {
        color: $color-gray-900;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.05px;
      }

      .store-room {
        display: flex;
        align-items: center;
        margin-left: 20px;
        .text {
          color: $color-primary-500;
          font-size: 12px;
          font-weight: 400;
          line-height: 17.76px;
          letter-spacing: 1px;
          margin-left: 2px;
        }
      }

      .desc {
        color: $color-gray-600;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 0.05px;
      }
      .splitter {
        width: 1px;
        height: 12px;
        background: $color-gray-300;
        margin: 0 10px;
      }

      .item-col {
        display: flex;
        align-items: center;

        .quantity-label {
          color: $color-gray-400;
          font-size: 13px;
          line-height: 21px;
          letter-spacing: 0.05px;
          font-weight: 400;
        }
        .quantity-value {
          color: $color-primary-500;
          font-size: 13px;
          line-height: 21px;
          letter-spacing: 0.05px;
          font-weight: 500;
          text-align: right;
          margin-left: 10px;
          min-width: 24px;
        }
      }
    }
  }
}
