@import "styles/utils";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid $color-gray-200;
  z-index: 3;
  background: $color-gray-white;

  .left,
  .right {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: $color-gray-white;
  }
  .center.overflow {
    overflow-x: auto;
    margin-right: auto;
  }

  .center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.black-mode {
    background: $color-gray-800;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid $color-gray-800;
    .left,
    .right,
    .center {
      background: $color-gray-800;
      color: $color-gray-white;
    }
  }
}
