@import "styles/utils";

.check-box {
  height: 100%;
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid $color-gray-400;
    border-radius: 4px;
  }
  input[type="checkbox"]:checked + label {
    background: $color-secondary-500;
    background-image: url("../../../asset/images/ic-check-round-a.svg");
    background-position: center center;
  }
}
