@import "styles/utils";

.setting-landing {
  .profile-header {
    position: relative;
    background: $color-gray-white;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ab-right {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      .logout {
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        letter-spacing: 0.05px;
        color: $color-gray-800;
      }
      .logout-icon {
        margin-left: 8px;
        transform: rotate(90deg);
        svg,
        path {
          fill: $color-gray-600;
        }
      }
    }
    .profile-circle-icon {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 1px solid $color-gray-white;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-contents-normal-b;
      span {
        font-size: 24px;
        line-height: 35.52px;
        font-weight: 24px;
        color: white;
      }
      &.bgcolor-1 {
        background: $color-contents-normal-b;
      }
      &.bgcolor-2 {
        background: $color-contents-normal-c;
      }
      &.bgcolor-3 {
        background: $color-contents-normal-d;
      }
      &.bgcolor-4 {
        background: $color-contents-normal-e;
      }
      &.bgcolor-5 {
        background: $color-contents-normal-f;
      }
      &.bgcolor-6 {
        background: $color-contents-normal-g;
      }
    }
    .profile-name {
      margin-top: 8px;
      span {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: $color-gray-800;
      }
    }
    .profile-sub-name {
      margin-top: 2px;
      span {
        font-size: 12px;
        font-weight: 400;
        line-height: 17.76px;
        color: $color-gray-500;
      }
    }
  }
  .profile-content {
    margin-top: 20px;
    margin-bottom: 45px;
    background: $color-gray-white;

    .content-row {
      &:not(:first-child) {
        border-top: 1px solid $color-gray-200;
      }
      .content-main {
        padding: 14px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content-col {
          display: flex;
          align-items: center;
          .content-label,
          .content-value {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.05px;
            font-weight: 500;
          }
          .content-label {
            margin-left: 8px;
            color: $color-gray-800;
          }
          .content-value {
            color: $color-gray-500;
          }
        }
      }
      .content-sub {
        padding: 10px 20px;
        padding-left: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $color-gray-50;
        .sub-label,
        .sub-value {
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.05px;
          font-weight: 500;
        }
        .sub-label {
          color: $color-gray-600;
        }
        .sub-value {
          color: $color-gray-500;
        }
      }
    }
  }
}
