@import "styles/utils";

.search-sp-inventory-detail {
  .search-sp-inventory-detail-main {
    margin-top: 56px;
    height: calc(100vh - 56px);
    overflow-y: auto;
    .result-table {
      thead {
        background: $color-gray-100;
        tr {
          th {
            padding-top: 10px;
            padding-bottom: 10px;
            white-space: nowrap;

            color: $color-gray-900;
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
          }
          th:first-child {
            padding-left: 12px;
          }
          th:last-child {
            padding-right: 21px;
          }
        }
      }
      tbody {
        background: $color-gray-white;
        tr {
          border-bottom: 1px solid $color-gray-100;
          td {
            padding-top: 14px;
            padding-bottom: 14px;
            white-space: nowrap;

            color: $color-gray-600;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.05px;
          }
          td:first-child {
            padding-left: 12px;
          }
          td:last-child {
            padding-right: 21px;
          }
        }
      }
      th + th,
      td + td {
        padding-left: 32px;
      }
    }
  }
}
