@import "styles/utils";

.search-result-card-typeB {
  display: flex;
  align-items: flex-start;
  .check-box {
    height: 100%;
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid $color-gray-400;
      border-radius: 4px;
    }
    input[type="checkbox"]:checked + label {
      background: $color-secondary-500;
      background-image: url("../../../asset/images/ic-check-round-a.svg");
      background-position: center center;
    }
  }
  .item-col {
    margin-left: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .item-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .value1 {
        letter-spacing: 0.05px;
        color: $color-gray-900;
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;
      }
      .value2 {
        letter-spacing: 0.05px;
        color: $color-gray-500;
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;
      }
      .value3 {
        letter-spacing: 0.05px;
        color: $color-gray-500;
        font-size: 14px;
        line-height: 21px;
        font-weight: normal;
      }
      .value4 {
        letter-spacing: 0.15px;
        color: $color-primary-500;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
      }
    }
    .item-row + .item-row {
      margin-top: 5px;
    }
  }
}
