@import "styles/utils";

.work-order-op-card {
  position: relative;
  padding: 16px 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.2);
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  &.active {
    border: 1px solid $color-contents-strong-a;
  }
  .ab-right {
    position: absolute;
    top: 9.5px;
    right: 9.5px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
  .card-title {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    .no {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      color: $color-gray-500;
      margin-right: 6px;
    }
    .name {
      font-size: 16px;
      font-weight: 700;
      line-height: 23px;
      color: $color-gray-900;
      margin-right: 16px;
    }
  }
  .card-content {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .desc {
      font-size: 12px;
      line-height: 17.76px;
      letter-spacing: 1px;
      font-weight: 400;
      color: $color-gray-500;
    }
  }
  .card-buttons {
    display: flex;
    align-items: center;
    .card-button {
      flex: 1;
      border: 1px solid $color-gray-300;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.15px;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      &:not(:last-child) {
        margin-right: 4px;
      }

      &.ok-active {
        border-color: $color-gray-800;
        background: $color-gray-800;
        color: $color-gray-white;
        font-weight: 700;
      }
      &.ng-active {
        border-color: $color-primary-400;
        background: $color-primary-400;
        color: $color-gray-white;
        font-weight: 700;
      }
    }
    .detail-btn {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-gray-300;
      border-radius: 3px;
    }
  }
}
