@import "styles/utils";

.time-select-wrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  &:before,&:after{
    content:"";
    position: absolute;
    border-top:1px solid #BEC9D4;
    left:20px;
    right:20px;
  }
  &:before{
    top:85px;
  }
  &:after{
    top:130px;
  }
  >div{
    font-weight: normal;
    font-size: 20px;
    line-height: 42px;
    overflow-y: auto;
    visibility: visible;
    a{
      display: block;
      color:$color-gray-300;
      &.active{
        color: $color-gray-black;
      }
    }
  }
 .time-day-night{
   height:126px;
   a{
     padding-left:50px;
   }
 }.time-hour,.time-minute{
    height:210px;
   }
  .time-minute{
    padding-right:50px;
  }
  .fix-pop-wrap{
    padding-bottom:88px;
  }
}