@import "styles/utils";

.select-input-div {
  width: 100%;
  label {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.05px;
    color: $color-gray-900;
  }
  .select-input-box {
    margin-top: 6px;
    border: 1px solid $color-gray-300;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    .value {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.05px;
      color: $color-gray-900;
      display: flex;
      align-items: center;
      &.placeholder {
        color: $color-gray-400;
      }
    }
  }
}
