@import "styles/utils";
.dc-download-state {
  display: flex;
  padding: 10px 22px 0;
  justify-content: space-between;
  align-items: center;
  > div {
    width: calc(50% - 5px);
    min-width: 86px;
    background: $color-gray-50;

    &:first-child {
      margin-right: 10px;
      span {
        &.now {
          background: url(../../../asset/images/img-circle-blue.png) no-repeat
            center 50%;
        }
      }
    }
    &:last-child {
      span {
        &.now {
          background: url(../../../asset/images/img-circle-yellow.png) no-repeat
            center 50%;
        }
      }
    }
    position: relative;
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label {
      background: $color-gray-50;
      border: 1px solid $color-gray-50;
      border-radius: 6px;
      width: 100%;
      height: 118px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      &:before {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        top: 0;
        background: url(../../../asset/images/ic-check-round-d.svg) no-repeat
          center 50%;
      }

      span {
        display: flex;
        font-size: 12px;
        line-height: 19px;
        text-align: center;
        &.now {
          color: $color-gray-800;
          font-weight: bold;
          font-size: 18px;
          line-height: 19px;
          text-align: center;
          width: 52px;
          height: 52px;
          justify-content: center;
          align-items: center;
          background-size: 100%;
          margin-bottom: 5px;
        }
        &.type {
          color: $color-gray-800;
          font-weight: bold;
        }
        &.total {
          color: $color-gray-600;
        }
      }
    }
    input[type="checkbox"]:checked + label {
      background: $color-gray-50;
      border: 1px solid $color-secondary-500;
      &:before {
        background: url(../../../asset/images/ic-check-round-a.svg) no-repeat
          center 50%;
      }
    }
  }
}
