@keyframes aniMountPop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes aniUnMountPop {
  100% {
    transform: scale(0);
  }
  0% {
    transform: scale(1);
  }
}

@keyframes tooltip {
  from {
    opacity: 1;
    z-index: 199;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes messageBar {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 100px);
    opacity: 0;
    z-index: -1;
  }
}

@keyframes aniFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aniFadeOut {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@keyframes aniLeftRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes aniLeftRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes aniLeftRightRev {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateX(0);
  }
}

@keyframes aniUnmount {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes aniMount {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-100%);
  }
}

@keyframes aniUpDownMount {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes aniUpDownUnMount {
  100% {
    transform: translateY(100%);
  }
  0% {
    transform: translateY(0);
  }
}

@keyframes aniStickyMount {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes aniStickyUnMount {
  100% {
    transform: translateY(-100%);
  }
  00% {
    transform: translateY(0);
  }
}

//@keyframes alarmTop {
//  0% {
//    opacity: 0;
//    top: 0px;
//  }
//  10% {
//    opacity: 1;
//    top: 56px;
//  }
//  90% {
//    opacity: 1;
//    top: 56px;
//  }
//  100% {
//    opacity: 0;
//    top: 50px;
//  }
//}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 0;
  }
  99% {
    border-radius: 0;
  }
  100% {
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(117, 34, 54, 0.12);
  }
}

@keyframes accordfadeIn {
  0% {
    padding-bottom: 0;
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    padding-bottom: 0;
    opacity: 0;
    transform: scaleY(1);
  }
  100% {
    padding-bottom: 16px;
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes accordfadeOut {
  100% {
    height: 0;
    padding-bottom: 0;
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    padding-bottom: 16px;
    height: auto;
    transform: scaleY(1);
  }
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
}
