.cls-1 {
  fill: #6b7682;
  fill-rule: evenodd;
}
.cls-2 {
  mask: url(#mask);
}
.cls-1 {
  fill: #6b7682;
}
.cls-1,
.cls-3 {
  fill-rule: evenodd;
}
.cls-2 {
  mask: url(#mask);
}
.cls-3 {
  fill: #0e181e;
}
