@charset "utf-8";
@import "styles/utils";

html {
  color: #000;
  background: #fff;
  overflow-y: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Noto Sans", Roboto;
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
  min-width: 360px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: "";
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a:hover {
  text-decoration: none;
}
ins,
a {
  text-decoration: none;
}

input,
textarea {
  box-shadow: initial;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.mgt0 {
  margin-top: 0 !important;
}
.mgt10 {
  margin-top: 10px !important;
}
.mgt15 {
  margin-top: 15px !important;
}
.mgt20 {
  margin-top: 20px !important;
}
.mgt25 {
  margin-top: 25px !important;
}
.mgt30 {
  margin-top: 30px !important;
}
.mgt40 {
  margin-top: 40px !important;
}
.mgt50 {
  margin-top: 50px !important;
}
.mgt60 {
  margin-top: 60px !important;
}
.mgb40 {
  margin-bottom: 40px !important;
}
.mgb30 {
  margin-bottom: 30px !important;
}
.mgb20 {
  margin-bottom: 20px !important;
}
.mgb7 {
  margin-bottom: 7px !important;
}
.mgb10 {
  margin-bottom: 10px !important;
}
.mgl0 {
  margin-left: 0 !important;
}
.mgl10 {
  margin-left: 10px !important;
}
.mgl15 {
  margin-left: 15px !important;
}
.mgr10 {
  margin-right: 10px !important;
}
.mgr15 {
  margin-right: 15px !important;
}
.mgr30 {
  margin-right: 30px !important;
}
.mgt5 {
  margin-top: 5px !important;
}
.mgt8 {
  margin-top: 8px !important;
}
.mgb8 {
  margin-bottom: 8px !important;
}
.mgb15 {
  margin-bottom: 15px !important;
}
.mgr5 {
  margin-right: 5px !important;
}
.padd200 {
  padding: 20px 10px 20px 0 !important;
}
.hhs-key-visual h1 sub {
  color: #222;
}
.pdr10 {
  padding-right: 10px !important;
}
.pdb10 {
  padding-bottom: 10px !important;
}
.pdb30 {
  padding-bottom: 30px !important;
}
.pdl0 {
  padding-left: 0px !important;
}
.pdl20 {
  padding-left: 20px !important;
}
.padd0 {
  padding: 0 !important;
}
.txt22 {
  color: #222 !important;
}
.txt55 {
  color: #555 !important;
}
.txt99 {
  color: #999 !important;
}
.waiting_txt {
  color: #9f7c49;
  font-family: "Noto Sans KR";
}
.wid100 {
  width: 100%;
  flex: 1 1 auto;
}
.noneb {
  border-bottom: 0 !important;
}
.noner {
  border-right: 0 !important;
}
.none_bot {
  border-top: 0 !important;
}
.vMiddle {
  vertical-align: middle !important;
}
.vTop {
  vertical-align: top !important;
}
.vBottom {
  vertical-align: bottom !important;
}
.minwid125 {
  width: 125px;
  min-width: 125px;
}

.min140 {
  min-width: 140px !important;
}

.wid60 {
  width: 60px !important;
}
.wid80 {
  width: 80px !important;
}
.wid130 {
  width: 130px !important;
}
.wid180 {
  width: 180px !important;
  min-width: 180px;
}
.wid160 {
  width: 160px !important;
  min-width: 160px;
}

.dp_none {
  display: none !important;
}
.nonr_bor {
  border: 0 !important;
}
.state-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: $color-primary-500;
}
.txt_right {
  text-align: right !important;
}
.txt_left {
  text-align: left !important;
}
.txt_center {
  text-align: center !important;
}
.gold_txt {
  font-size: 13px;
  color: #9f7c49;
  font-weight: 500;
}
.gold_txt_line {
  color: #9f7c49;
  text-decoration: underline !important;
}
.gold_txt_line:hover {
  text-decoration: underline !important;
}
.f12 {
  font-size: 12px !important;
}
.bold500 {
  font-weight: 500 !important;
}
.bold700 {
  font-weight: 700 !important;
}

.modal-open {
  overflow-y: hidden;
}
