$color-primary-50: rgba(255,250,252,1);
$color-primary-75: rgba(250,234,240,1);
$color-primary-100: rgba(254,187,208,1);
$color-primary-200: rgba(251,137,173,1);
$color-primary-300: rgba(245,93,141,1);
$color-primary-400: rgba(237,58,114,1);
$color-primary-500: rgba(224,32,92,1);
$color-primary-600: rgba(203,15,74,1);
$color-primary-700: rgba(177,5,60,1);
$color-primary-800: rgba(148,0,47,1);
$color-primary-900: rgba(117,0,37,1);
$color-secondary-50: rgba(240,253,255,1);
$color-secondary-100: rgba(190,242,250,1);
$color-secondary-200: rgba(143,229,242,1);
$color-secondary-300: rgba(104,214,232,1);
$color-secondary-400: rgba(66,201,222,1);
$color-secondary-500: rgba(38,185,209,1);
$color-secondary-600: rgba(18,166,190,1);
$color-secondary-700: rgba(5,144,166,1);
$color-secondary-800: rgba(2,120,139,1);
$color-secondary-900: rgba(0,95,110,1);
$color-status-confirmed: rgba(4,179,149,1);
$color-status-alert: rgb(249, 75, 80);
$color-gray-50: rgba(245,247,250,1);
$color-gray-100: rgba(233,239,245,1);
$color-gray-200: rgba(218,227,237,1);
$color-gray-300: rgba(190,201,212,1);
$color-gray-400: rgba(165,179,194,1);
$color-gray-500: rgba(137,150,163,1);
$color-gray-600: rgba(107,118,130,1);
$color-gray-700: rgba(86,96,107,1);
$color-gray-800: rgba(66,73,82,1);
$color-gray-900: rgba(44,50,56,1);
$color-contents-normal-a: rgba(104,214,232,1);
$color-contents-normal-b: rgba(178,128,255,1);
$color-contents-normal-c: rgba(254,122,122,1);
$color-contents-normal-d: rgba(255,191,107,1);
$color-contents-normal-e: rgba(103,224,156,1);
$color-contents-normal-f: rgba(119,165,255,1);
$color-contents-normal-g: rgba(246,138,214,1);
$color-contents-strong-a: rgba(38,185,209,1);
$color-contents-strong-b: rgba(144,79,242,1);
$color-contents-strong-c: rgba(247,80,79,1);
$color-contents-strong-d: rgba(255,185,65,1);
$color-contents-strong-e: rgba(52,188,111,1);
$color-contents-strong-f: rgba(75,130,239,1);
$color-contents-strong-g: rgba(252,104,208,1);
$color-gray-white: rgba(255,255,255,1);
$color-gray-black: rgba(0,0,0,1);

.primary_txt {color:$color-primary-500 !important}
.secondary_txt {color:$color-secondary-500 !important}
.gray_txt {color: rgba(137,150,163,1) !important;}
.black_txt {$color-gray-900: rgba(44,50,56,1) !important;}

@mixin font-pc-heading-1 {
  font-size:24px;
  font-family:"Noto Sans CJK KR";
  font-weight:bold;
  line-height:33px;
}
@mixin font-pc-heading-2 {
  font-size:18px;
  font-family:"Noto Sans CJK KR";
  font-weight:bold;
  line-height:25px;
}
@mixin font-pc-heading-3 {
  font-size:16px;
  font-family:"Noto Sans CJK KR";
  font-weight:bold;
  line-height:22px;
}
@mixin font-pc-heading-4 {
  font-size:15px;
  font-family:"Noto Sans CJK KR";
  font-weight:bold;
  line-height:22px;
}
@mixin font-pc-heading-5 {
  font-size:14px;
  font-family:"Noto Sans CJK KR";
  font-weight:medium;
  line-height:20px;
}
@mixin font-pc-heading-6 {
  font-size:13px;
  font-family:"Noto Sans CJK KR";
  font-weight:medium;
  line-height:19px;
}
@mixin font-pc-body-1-bold {
  font-size:13px;
  font-family:"Noto Sans CJK KR";
  font-weight:bold;
  line-height:19px;
}
@mixin font-pc-body-1-regular {
  font-size:13px;
  font-family:"Noto Sans CJK KR";
  font-weight:normal;
  line-height:19px;
}
@mixin font-pc-body-2-medium {
  font-size:12px;
  font-family:"Noto Sans CJK KR";
  font-weight:medium;
  line-height:18px;
}
@mixin font-pc-body-2-regular {
  font-size:12px;
  font-family:"Noto Sans CJK KR";
  font-weight:normal;
  line-height:18px;
}
@mixin font-pc-small {
  font-size:11px;
  font-family:"Noto Sans CJK KR";
  font-weight:normal;
  line-height:17px;
}
@mixin font-pc-caption-bold {
  font-size:11px;
  font-family:"Noto Sans CJK KR";
  font-weight:bold;
  line-height:17px;
}
@mixin font-pc-caption-regular {
  font-size:11px;
  font-family:"Noto Sans CJK KR";
  font-weight:normal;
  line-height:17px;
}
@mixin font-pc-button-1 {
  font-size:12px;
  font-family:"Noto Sans CJK KR";
  font-weight:bold;
  line-height:17px;
}
@mixin font-pc-numeric-n-1 {
  font-size:80px;
  font-family:"SpoqaHanSans";
  font-weight:normal;
  line-height:90px;
}
@mixin font-pc-numeric-n-2 {
  font-size:34px;
  font-family:"SpoqaHanSans";
  font-weight:normal;
  line-height:40px;
}
@mixin font-pc-numeric-n-3 {
  font-size:25px;
  font-family:"SpoqaHanSans";
  font-weight:normal;
  line-height:32px;
}
@mixin font-pc-numeric-n-4 {
  font-size:18px;
  font-family:"SpoqaHanSans";
  font-weight:normal;
  line-height:25px;
}
@mixin font-pc-numeric-n-5 {
  font-size:13px;
  font-family:"SpoqaHanSans";
  font-weight:normal;
  line-height:19px;
}
@mixin font-pc-numeric-n-6-bold {
  font-size:11px;
  font-family:"SpoqaHanSans";
  font-weight:bold;
  line-height:16px;
}
@mixin font-pc-numeric-n-6-regular {
  font-size:11px;
  font-family:"SpoqaHanSans";
  font-weight:normal;
  line-height:17px;
}
