.signature-canvas-wrap {
  background: rgba(255, 185, 65, 0.05);
  border-radius: 4px;
  position: relative;
  width: 100%;
  z-index: 1;
  border: 1.5px dashed #bec9d4;
  height: 100%;
  canvas {
    height: 100%;
    width: 100%;
  }
}
